# Pandas
### Topics
-

- CSV : Comma seperated values
- excel
- json : JavaScript Object Notation

- import json
- json.loads
- json.dumps

In [1]:
import pandas as pd
pd.__version__

'0.24.2'

# creating series 
- from a list 
- from a tuple
- from a dict
- from a ndarray

In [2]:
s1=pd.Series([1,2,3,4])
print(s1[0])
s1

1

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
import numpy as np
a1= np.array ([1,2,3,4])
print(a1[0])
a1

1

array([1, 2, 3, 4])

In [4]:
# creating a numpy array into pandas into series
as1= pd.Series(a1)
as1

0    1
1    2
2    3
3    4
dtype: int32

In [5]:
print(type(s1))
print(type(a1))

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>

In [6]:
s2=pd.Series([1,2,3,4],['one','two','three','four'])
print(s2)
print(s2['one'])
print(s2[0])

one      1
two      2
three    3
four     4
dtype: int64
1
1

In [7]:
s3=pd.Series((1,2,3,4),('one','two','three','four'))
print(s3)
print(s3['one'])
print(s3[0])

one      1
two      2
three    3
four     4
dtype: int64
1
1

In [8]:
s4=pd.Series({1:'one',2:'two',3:'three',4:'four'})
print(s4)
print(s4[1])
#print(s4[0])

1      one
2      two
3    three
4     four
dtype: object
one

In [9]:
s4={'one':1,'two':2,'three':3,'four':4}
pd.Series(s4)

one      1
two      2
three    3
four     4
dtype: int64

## Create a DataFrame from Dictionary

In [10]:
s5=pd.Series({'one':1,'two':2,'three':3,'four':4})
s6=pd.Series({'five':5,'six':6,'seven':7,'eight':8})
s5
s6
final={'S5':s5,'S6':s6}
data=pd.DataFrame(final)
data

        S5   S6
eight  NaN  8.0
five   NaN  5.0
four   4.0  NaN
one    1.0  NaN
seven  NaN  7.0
six    NaN  6.0
three  3.0  NaN
two    2.0  NaN

In [11]:
data ={'name':['Hari','raj','roja','gita'],'major':['go','python','r','ml']}
d=pd.DataFrame(data)
d

   name   major
0  Hari      go
1   raj  python
2  roja       r
3  gita      ml

In [12]:
d.name

0    Hari
1     raj
2    roja
3    gita
Name: name, dtype: object

In [13]:
d1=pd.read_csv('data.csv')
d1

       name laptop  ram
0    deepak     hp    4
1  srikanth     hp   64
2    chaitu  lenvo    8
3       ali  lenvo    8
4   parames  lenvo    8
5   bhargav  lenvo    4
6   vineeth   dell    8
7     jagan  lenvo    8

In [14]:
d1.head(2)# 1st two values

       name laptop  ram
0    deepak     hp    4
1  srikanth     hp   64

In [15]:
d1.tail(2) # last 2values

      name laptop  ram
6  vineeth   dell    8
7    jagan  lenvo    8

In [16]:
d1.sample() # its random changes the value

      name laptop  ram
4  parames  lenvo    8

In [17]:
d1.shape

(8, 3)

In [18]:
d1.shape[0] # to count the rows

8

In [19]:
d1.shape[1]

3

In [20]:
d2=d1.shape
d2

(8, 3)

In [21]:
d1.columns

Index(['name', 'laptop', 'ram'], dtype='object')

In [22]:
d1.ram

0     4
1    64
2     8
3     8
4     8
5     4
6     8
7     8
Name: ram, dtype: int64

In [23]:
d1.index=range(20,28) # changing the index
d1

        name laptop  ram
20    deepak     hp    4
21  srikanth     hp   64
22    chaitu  lenvo    8
23       ali  lenvo    8
24   parames  lenvo    8
25   bhargav  lenvo    4
26   vineeth   dell    8
27     jagan  lenvo    8

In [24]:
d1.index=[19,2,15,13,11,26,16,3]
d1

        name laptop  ram
19    deepak     hp    4
2   srikanth     hp   64
15    chaitu  lenvo    8
13       ali  lenvo    8
11   parames  lenvo    8
26   bhargav  lenvo    4
16   vineeth   dell    8
3      jagan  lenvo    8

In [25]:
pd.read_csv('data.csv',sep=',')# its seperate the columns

       name laptop  ram
0    deepak     hp    4
1  srikanth     hp   64
2    chaitu  lenvo    8
3       ali  lenvo    8
4   parames  lenvo    8
5   bhargav  lenvo    4
6   vineeth   dell    8
7     jagan  lenvo    8

In [26]:
pd.read_csv('data.csv',header=2) # its removes first 2 cloumns and make 2 row  as zero

  srikanth     hp  64
0   chaitu  lenvo   8
1      ali  lenvo   8
2  parames  lenvo   8
3  bhargav  lenvo   4
4  vineeth   dell   8
5    jagan  lenvo   8

In [27]:
pd.read_csv('data.csv',header='infer')
pd.read_csv('data.csv',header=0)

       name laptop  ram
0    deepak     hp    4
1  srikanth     hp   64
2    chaitu  lenvo    8
3       ali  lenvo    8
4   parames  lenvo    8
5   bhargav  lenvo    4
6   vineeth   dell    8
7     jagan  lenvo    8

In [28]:
pd.read_csv('data.csv',header=None) # to make the column name in index

          0       1    2
0      name  laptop  ram
1    deepak      hp    4
2  srikanth      hp   64
3    chaitu   lenvo    8
4       ali   lenvo    8
5   parames   lenvo    8
6   bhargav   lenvo    4
7   vineeth    dell    8
8     jagan   lenvo    8

In [29]:
pd.read_csv('data.csv',header=None,names=['col1','col2','col3']) # to add new column names

       col1    col2 col3
0      name  laptop  ram
1    deepak      hp    4
2  srikanth      hp   64
3    chaitu   lenvo    8
4       ali   lenvo    8
5   parames   lenvo    8
6   bhargav   lenvo    4
7   vineeth    dell    8
8     jagan   lenvo    8

In [30]:
pd.read_csv('data.csv',header=0,names=['col1','col2','col3']) # replacing the column name with name

       col1   col2  col3
0    deepak     hp     4
1  srikanth     hp    64
2    chaitu  lenvo     8
3       ali  lenvo     8
4   parames  lenvo     8
5   bhargav  lenvo     4
6   vineeth   dell     8
7     jagan  lenvo     8

In [31]:
pd.read_csv('data.csv',usecols=['ram'])# for acces single column

   ram
0    4
1   64
2    8
3    8
4    8
5    4
6    8
7    8

In [32]:
pd.read_csv('data.csv',usecols=['name','ram'])# for acces two column

       name  ram
0    deepak    4
1  srikanth   64
2    chaitu    8
3       ali    8
4   parames    8
5   bhargav    4
6   vineeth    8
7     jagan    8

In [33]:
d1['name']# select single columns

19      deepak
2     srikanth
15      chaitu
13         ali
11     parames
26     bhargav
16     vineeth
3        jagan
Name: name, dtype: object

In [34]:
d1['name'][19]# to print name using index

'deepak'

In [35]:
d1['name']

19      deepak
2     srikanth
15      chaitu
13         ali
11     parames
26     bhargav
16     vineeth
3        jagan
Name: name, dtype: object

In [36]:
d1[['name']]

        name
19    deepak
2   srikanth
15    chaitu
13       ali
11   parames
26   bhargav
16   vineeth
3      jagan

In [37]:
print(type(d1['name']))
print(type(d1[['name']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [38]:
# to chech the data types in each column
print(type(d1.dtypes))
print(d1['name'].dtype)
d1.dtypes

<class 'pandas.core.series.Series'>
object

name      object
laptop    object
ram        int64
dtype: object

In [39]:
print(type(d1.columns))

<class 'pandas.core.indexes.base.Index'>

In [40]:
print(d1.columns[0])
print(d1.columns[1])
print(d1.columns[2])

name
laptop
ram

In [41]:
data=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.csv')
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [42]:
data.head(5)

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

In [43]:
data.tail(5)

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [44]:
data.sample()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012

In [45]:
data.shape

(26, 6)

In [46]:
data.shape[0]

26

In [47]:
data.isnull()

    Timestamp   Name  MailId  Branch  Qualification  RollNumber
0       False  False   False   False          False       False
1       False  False   False   False          False       False
2       False  False   False   False          False       False
3       False  False   False   False          False       False
4       False  False   False   False          False       False
5       False  False   False   False          False       False
6       False  False   False   False          False       False
7       False  False   False   False          False       False
8       False  False   False   False          False       False
9       False  False   False   False          False       False
10      False  False   False   False          False       False
11      False  False   False   False          False       False
12      False  False   False   False          False       False
13      False  False   False   False          False       False
14      False  False   False   False          False       False
15      False  False   False   False          False       False
16      False  False   False   False          False       False
17      False  False   False   False          False       False
18      False  False   False   False          False       False
19      False  False   False   False          False       False
20      False  False   False   False          False       False
21      False  False   False   False          False       False
22      False  False   False   False          False       False
23      False  False   False   False          False       False
24      False  False   False   False          False       False
25      False  False   False   False          False       False

In [48]:
data.isnull().sum()

Timestamp        0
Name             0
MailId           0
Branch           0
Qualification    0
RollNumber       0
dtype: int64

In [49]:
data.isnull().sum().sum()

0

# to acces tsv file

In [50]:
data1=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.tsv','\t')
data1

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

# to access excel file

In [51]:
data2=pd.read_excel('Student Data ML Jan (Responses).xlsx')
data2

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,2020-01-30 15:00:06.734,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,2020-01-30 15:00:19.555,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,2020-01-30 15:00:23.470,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,2020-01-30 15:00:25.434,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,2020-01-30 15:00:27.759,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,2020-01-30 15:00:28.333,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,2020-01-30 15:00:32.644,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,2020-01-30 15:00:36.728,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,2020-01-30 15:00:39.347,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,2020-01-30 15:00:40.676,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,2020-01-30 15:00:42.915,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,2020-01-30 15:00:44.077,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,2020-01-30 15:00:44.555,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,2020-01-30 15:01:10.442,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,2020-01-30 15:01:15.898,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,2020-01-30 15:01:24.277,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,2020-01-30 15:01:34.607,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,2020-01-30 15:01:49.380,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,2020-01-30 15:01:50.011,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,2020-01-30 15:01:55.797,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,2020-01-30 15:02:03.750,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,2020-01-30 15:02:40.644,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,2020-01-30 15:02:49.025,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,2020-01-30 15:02:58.779,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,2020-01-30 15:04:10.387,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,2020-01-30 15:07:37.611,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

# Slicing to acess 

# position based indexing --> iloc

In [52]:
# position based indexing --> iloc
data.iloc[1]

Timestamp           30/01/2020 15:00:20
Name                           R deepak
MailId           deepakrella9@gmail.com
Branch                              MCA
Qualification                        PG
RollNumber                 121722501019
Name: 1, dtype: object

In [53]:
data.iloc[0:1]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039

In [54]:
data.iloc[0:6:2]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

In [55]:
data.iloc[0:6:2,1:3]

               Name                            MailId
0     Sai Naga Raju  sainagarajusakhamuri99@gmail.com
2     P K CHAITANYA              chaitu1495@gmail.com
4  Himaja cherukuri         himajacherukuri@gmail.com

In [56]:
data.iloc[-2:,-2:]

   Qualification    RollNumber
24        B.TECH    161FA07025
25           B.E  245112769310

In [57]:
data.iloc[7:16:4,-3:]#to access the 7,11,15 and last 3 collumn

                    Branch Qualification    RollNumber
7   Information Technology        B.Tech    161FA07042
11        Computer Science           MCA  121722501026
15                     ECE        B.Tech    14F41A0461

# lable based index

In [58]:
data.loc[0]

Timestamp                     30/01/2020 15:00:07
Name                                Sai Naga Raju
MailId           sainagarajusakhamuri99@gmail.com
Branch                                         IT
Qualification                              B.Tech
RollNumber                             161FA07039
Name: 0, dtype: object

In [59]:
data.loc[0:0]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039

In [60]:
data.loc[0::2]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025

In [61]:
data.loc[0:4:2,'Name':'MailId']

               Name                            MailId
0     Sai Naga Raju  sainagarajusakhamuri99@gmail.com
2     P K CHAITANYA              chaitu1495@gmail.com
4  Himaja cherukuri         himajacherukuri@gmail.com

In [62]:
data.loc[7:16:4,'Qualification':'RollNumber']#to access the 7,11,15 and last 3 collumn

   Qualification    RollNumber
7         B.Tech    161FA07042
11           MCA  121722501026
15        B.Tech    14F41A0461

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
Timestamp        26 non-null object
Name             26 non-null object
MailId           26 non-null object
Branch           26 non-null object
Qualification    26 non-null object
RollNumber       26 non-null object
dtypes: object(6)
memory usage: 1.3+ KB

In [64]:
data.MailId

0     sainagarajusakhamuri99@gmail.com
1               deepakrella9@gmail.com
2                 chaitu1495@gmail.com
3              srikanthbisai@gmail.com
4            himajacherukuri@gmail.com
5              geethamuppuri@gmail.com
6               muvvanikhita@gmail.com
7             pavandasari226@gmail.com
8              bjaganmohan24@gmail.com
9       parameshkarumuri1997@gmail.com
10      ravindrakumarroyal12@gmail.com
11       bhargavperumalla123@gmail.com
12           kavyathatavarti@gmail.com
13             harishbandi12@gmail.com
14         bhavanisankar5758@gmail.com
15            devendra108148@gmail.com
16          ramya.marripoodi@gmail.com
17              tvnagajyothi@gmail.com
18           p.anandalakshmi@gmail.com
19             saikamavarapu@gmail.com
20               ali95asghar@gmail.com
21               121822502016@gitam.in
22         duppatijayanaveen@gmail.com
23       vikramsabbavarapu60@gmail.com
24         saitejajaladi2000@gmail.com
25               saikumarm64@gmail.com
Name: MailId, dtype: object

# Fancy Indexing

In [65]:
data.Qualification

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [66]:
data.loc[0:,'Qualification']

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [67]:
data.iloc[0:,4:5]

   Qualification
0         B.Tech
1             PG
2             PG
3             PG
4          BTech
5         B.Tech
6         B.Tech
7         B.Tech
8           M.sc
9             PG
10           Msc
11           MCA
12        B.Tech
13        B.TECH
14           MSc
15        B.Tech
16        B.Tech
17        B.tech
18        degree
19        Degree
20           MCA
21          M.Sc
22        B.TECH
23        B-tech
24        B.TECH
25           B.E

In [68]:
data.Qualification=='PG'

0     False
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
Name: Qualification, dtype: bool

In [69]:
data['Qualification']

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [70]:
# to get only "PG" student details
data[data.Qualification=='PG']

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011

In [71]:
# to get PG mailid
data['MailId'][data.Qualification=='PG']

1            deepakrella9@gmail.com
2              chaitu1495@gmail.com
3           srikanthbisai@gmail.com
9    parameshkarumuri1997@gmail.com
Name: MailId, dtype: object

In [72]:
data['RollNumber'][data.Branch=='Data Science']

8     121822502015
14    121822502018
21    121822502016
Name: RollNumber, dtype: object

In [73]:
data['RollNumber'][data.Branch=='IT']

0     161FA07039
12    161FA07050
Name: RollNumber, dtype: object

In [74]:
data['RollNumber'][data.Branch=='I.T']

22    161FA07012
24    161FA07025
Name: RollNumber, dtype: object

In [75]:
((data.Branch=='IT')| (data.Branch=='I.T')|\
 (data.Branch=='Information Technology')).sum()

8

In [76]:
data.Qualification.value_counts()

B.Tech    7
PG        4
B.TECH    3
MCA       2
Degree    1
degree    1
MSc       1
Msc       1
B.E       1
BTech     1
B-tech    1
B.tech    1
M.sc      1
M.Sc      1
Name: Qualification, dtype: int64

In [77]:
data.Qualification[data.Qualification=='B.tech']='B.Tech'

In [78]:
data.Qualification[data.Qualification=='BTech']='B.Tech'

In [79]:
data.Qualification[data.Qualification=='B.TECH']='B.Tech'

In [80]:
data.Qualification[data.Qualification=='B-tech']='B.Tech'

In [81]:
data.Qualification[data.Qualification=='M.sc']='MSC'

In [82]:
data.Qualification[data.Qualification=='M.Sc']='MSC'

In [83]:
data.Qualification[data.Qualification=='MSc']='MSC'

In [84]:
data.Qualification[data.Qualification=='Msc']='MSC'

In [85]:
data.Qualification[data.Qualification=='Degree']='DEGREE'

In [86]:
data.Qualification[data.Qualification=='degree']='DEGREE'

In [87]:
data.Qualification[data.Qualification=='B.E']='BE'

In [88]:
data.Qualification.value_counts()

B.Tech    13
PG         4
MSC        4
DEGREE     2
MCA        2
BE         1
Name: Qualification, dtype: int64

In [101]:
data.set_index('RollNumber')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,B.Tech
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,MSC
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.Tech
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.Tech
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE

In [102]:
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,B.Tech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,MSC,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.Tech,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.Tech,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,245112769310

In [111]:
# data= data.set_index('RollNumber')
data.set_index('RollNumber',inplace=True)

In [112]:
data

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,B.Tech
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,MSC
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.Tech
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.Tech
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE

# sorting

In [113]:
data.sort_values('Name')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,MSC
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.Tech
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,B.Tech
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.Tech
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech

In [114]:
college=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/college.csv')
college

     RollNumber            College  Year
0  245112769310  MVSR Engg College  2016
1    161FA07025             Vignan  2020
2    161FA07002             Vignan  2020
3    133J1A0150              Raghu  2017
4    118W1A0416             Vignan  2015

In [115]:
data.reset_index(inplace=True)

In [116]:
data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,B.Tech
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,MSC
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.Tech
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.Tech
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE

In [117]:
pd.merge(data,college,how='right')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,Vignan,2020
1,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,Raghu,2017
2,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech,Vignan,2020
3,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,MVSR Engg College,2016
4,118W1A0416,NaN,NaN,NaN,NaN,NaN,Vignan,2015

In [118]:
pd.merge(data,college,how='left')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,NaN,NaN
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,NaN,NaN
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,NaN,NaN
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,NaN,NaN
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,B.Tech,NaN,NaN
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,NaN,NaN
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,NaN,NaN
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,NaN,NaN
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,NaN,NaN
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,NaN,NaN
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,MSC,NaN,NaN
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,NaN,NaN
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,NaN,NaN
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.Tech,NaN,NaN
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,NaN,NaN
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,NaN,NaN
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,Vignan,2020.0
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech,NaN,NaN
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,NaN,NaN
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,NaN,NaN
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,NaN,NaN
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,NaN,NaN
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.Tech,NaN,NaN
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,Raghu,2017.0
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech,Vignan,2020.0
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,MVSR Engg College,2016.0

In [119]:
pd.merge(data,college,how='outer')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,NaN,NaN
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,NaN,NaN
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,NaN,NaN
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,NaN,NaN
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,B.Tech,NaN,NaN
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,NaN,NaN
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,NaN,NaN
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,NaN,NaN
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,NaN,NaN
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,NaN,NaN
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,MSC,NaN,NaN
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,NaN,NaN
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,NaN,NaN
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.Tech,NaN,NaN
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,NaN,NaN
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,NaN,NaN
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,Vignan,2020.0
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech,NaN,NaN
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,NaN,NaN
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,NaN,NaN
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,NaN,NaN
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,NaN,NaN
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.Tech,NaN,NaN
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,Raghu,2017.0
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech,Vignan,2020.0
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,MVSR Engg College,2016.0
26,118W1A0416,NaN,NaN,NaN,NaN,NaN,Vignan,2015.0

In [120]:
data.shape[0],college.shape[0]

(26, 5)

# Task 
- Different column names in two dataframes
- college -" Roll Number"
- data -" Roll Number"

In [129]:
college=pd.read_csv('C:\\Users\\Deepak\\Desktop\\all doc\\problem solving and programming\\college.csv')
college.columns

Index(['Roll Number', 'College', 'Year'], dtype='object')

In [130]:
data.columns

Index(['RollNumber', 'Timestamp', 'Name', 'MailId', 'Branch', 'Qualification'], dtype='object')

In [124]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

In [135]:
pd.merge(data,college,left_on='RollNumber' , right_on='Roll Number')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Roll Number,College,Year
0,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002,Vignan,2020
1,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,133J1A0150,Raghu,2017
2,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech,161FA07025,Vignan,2020
3,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,245112769310,MVSR Engg College,2016

In [137]:
common_data=pd.merge(data,college,left_on='RollNumber' , right_on='Roll Number')
common_data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Roll Number,College,Year
0,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002,Vignan,2020
1,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,133J1A0150,Raghu,2017
2,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech,161FA07025,Vignan,2020
3,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,245112769310,MVSR Engg College,2016

In [138]:
common_data.drop('Roll Number',axis=1,inplace=True)

In [139]:
common_data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,Vignan,2020
1,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,Raghu,2017
2,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech,Vignan,2020
3,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,MVSR Engg College,2016

In [153]:
data.Timestamp

0     30/01/2020 15:00:07
1     30/01/2020 15:00:20
2     30/01/2020 15:00:23
3     30/01/2020 15:00:25
4     30/01/2020 15:00:28
5     30/01/2020 15:00:28
6     30/01/2020 15:00:33
7     30/01/2020 15:00:37
8     30/01/2020 15:00:39
9     30/01/2020 15:00:41
10    30/01/2020 15:00:43
11    30/01/2020 15:00:44
12    30/01/2020 15:00:45
13    30/01/2020 15:01:10
14    30/01/2020 15:01:16
15    30/01/2020 15:01:24
16    30/01/2020 15:01:35
17    30/01/2020 15:01:49
18    30/01/2020 15:01:50
19    30/01/2020 15:01:56
20    30/01/2020 15:02:04
21    30/01/2020 15:02:41
22    30/01/2020 15:02:49
23    30/01/2020 15:02:59
24    30/01/2020 15:04:10
25    30/01/2020 15:07:38
Name: Timestamp, dtype: object

In [141]:
type(data.Timestamp[0])

str

In [142]:
pd.to_datetime(data.Timestamp)

0    2020-01-30 15:00:07
1    2020-01-30 15:00:20
2    2020-01-30 15:00:23
3    2020-01-30 15:00:25
4    2020-01-30 15:00:28
5    2020-01-30 15:00:28
6    2020-01-30 15:00:33
7    2020-01-30 15:00:37
8    2020-01-30 15:00:39
9    2020-01-30 15:00:41
10   2020-01-30 15:00:43
11   2020-01-30 15:00:44
12   2020-01-30 15:00:45
13   2020-01-30 15:01:10
14   2020-01-30 15:01:16
15   2020-01-30 15:01:24
16   2020-01-30 15:01:35
17   2020-01-30 15:01:49
18   2020-01-30 15:01:50
19   2020-01-30 15:01:56
20   2020-01-30 15:02:04
21   2020-01-30 15:02:41
22   2020-01-30 15:02:49
23   2020-01-30 15:02:59
24   2020-01-30 15:04:10
25   2020-01-30 15:07:38
Name: Timestamp, dtype: datetime64[ns]

In [143]:
data.Timestamp.dtype

dtype('O')

In [154]:
data['TimeStamp_dt']=pd.to_datetime(data.Timestamp)
data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt,TimeStamp_dt
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,2020-01-30 15:00:07,2020-01-30 15:00:07
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,2020-01-30 15:00:20,2020-01-30 15:00:20
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,2020-01-30 15:00:23,2020-01-30 15:00:23
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,2020-01-30 15:00:25,2020-01-30 15:00:25
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,B.Tech,2020-01-30 15:00:28,2020-01-30 15:00:28
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,2020-01-30 15:00:28,2020-01-30 15:00:28
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,2020-01-30 15:00:33,2020-01-30 15:00:33
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,2020-01-30 15:00:37,2020-01-30 15:00:37
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,2020-01-30 15:00:39,2020-01-30 15:00:39
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,2020-01-30 15:00:41,2020-01-30 15:00:41
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,MSC,2020-01-30 15:00:43,2020-01-30 15:00:43
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,2020-01-30 15:00:44,2020-01-30 15:00:44
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,2020-01-30 15:00:45,2020-01-30 15:00:45
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.Tech,2020-01-30 15:01:10,2020-01-30 15:01:10
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,2020-01-30 15:01:16,2020-01-30 15:01:16
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,2020-01-30 15:01:24,2020-01-30 15:01:24
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,2020-01-30 15:01:35,2020-01-30 15:01:35
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.Tech,2020-01-30 15:01:49,2020-01-30 15:01:49
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,2020-01-30 15:01:50,2020-01-30 15:01:50
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,2020-01-30 15:01:56,2020-01-30 15:01:56
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,2020-01-30 15:02:04,2020-01-30 15:02:04
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,2020-01-30 15:02:41,2020-01-30 15:02:41
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.Tech,2020-01-30 15:02:49,2020-01-30 15:02:49
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B.Tech,2020-01-30 15:02:59,2020-01-30 15:02:59
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.Tech,2020-01-30 15:04:10,2020-01-30 15:04:10
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,2020-01-30 15:07:38,2020-01-30 15:07:38

In [155]:
data['TimeStamp_dt'].dtype

dtype('<M8[ns]')

In [156]:
data['TimeStamp_dt']

0    2020-01-30 15:00:07
1    2020-01-30 15:00:20
2    2020-01-30 15:00:23
3    2020-01-30 15:00:25
4    2020-01-30 15:00:28
5    2020-01-30 15:00:28
6    2020-01-30 15:00:33
7    2020-01-30 15:00:37
8    2020-01-30 15:00:39
9    2020-01-30 15:00:41
10   2020-01-30 15:00:43
11   2020-01-30 15:00:44
12   2020-01-30 15:00:45
13   2020-01-30 15:01:10
14   2020-01-30 15:01:16
15   2020-01-30 15:01:24
16   2020-01-30 15:01:35
17   2020-01-30 15:01:49
18   2020-01-30 15:01:50
19   2020-01-30 15:01:56
20   2020-01-30 15:02:04
21   2020-01-30 15:02:41
22   2020-01-30 15:02:49
23   2020-01-30 15:02:59
24   2020-01-30 15:04:10
25   2020-01-30 15:07:38
Name: TimeStamp_dt, dtype: datetime64[ns]

In [157]:
type(data['TimeStamp_dt'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [158]:
data['TimeStamp_dt'].dt.month

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
Name: TimeStamp_dt, dtype: int64

In [159]:
data['TimeStamp_dt'].dt.year

0     2020
1     2020
2     2020
3     2020
4     2020
5     2020
6     2020
7     2020
8     2020
9     2020
10    2020
11    2020
12    2020
13    2020
14    2020
15    2020
16    2020
17    2020
18    2020
19    2020
20    2020
21    2020
22    2020
23    2020
24    2020
25    2020
Name: TimeStamp_dt, dtype: int64

In [160]:
data['TimeStamp_dt'].dt.second

0      7
1     20
2     23
3     25
4     28
5     28
6     33
7     37
8     39
9     41
10    43
11    44
12    45
13    10
14    16
15    24
16    35
17    49
18    50
19    56
20     4
21    41
22    49
23    59
24    10
25    38
Name: TimeStamp_dt, dtype: int64

In [161]:
data.describe()

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt,TimeStamp_dt
count,26,26,26,26,26,26,26,26
unique,26,25,26,26,14,6,25,25
top,121722501013,30/01/2020 15:00:28,DASARI PAVAN SAI,ravindrakumarroyal12@gmail.com,Information Technology,B.Tech,2020-01-30 15:00:28,2020-01-30 15:00:28
freq,1,2,1,1,4,13,2,2
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07,2020-01-30 15:00:07
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38,2020-01-30 15:07:38

In [164]:
data.Branch.value_counts()

Information Technology    4
MCA                       4
Data Science              3
I.T                       2
CSE                       2
IT                        2
Computer Science          2
civil engineering         1
b com(computers)          1
Automobile Engineering    1
B.Sc(comp)                1
DataScience               1
ECE                       1
cse                       1
Name: Branch, dtype: int64

In [167]:
data['seconds']= data['TimeStamp_dt'].dt.second
data.describe()

         seconds
count  26.000000
mean   32.846154
std    15.371902
min     4.000000
25%    23.250000
50%    36.000000
75%    43.750000
max    59.000000

In [168]:
data.describe(include=object)

,RollNumber,Timestamp,Name,MailId,Branch,Qualification
count,26,26,26,26,26,26
unique,26,25,26,26,14,6
top,121722501013,30/01/2020 15:00:28,DASARI PAVAN SAI,ravindrakumarroyal12@gmail.com,Information Technology,B.Tech
freq,1,2,1,1,4,13

In [169]:
data.describe(include='all')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt,TimeStamp_dt,seconds
count,26,26,26,26,26,26,26,26,26.000000
unique,26,25,26,26,14,6,25,25,NaN
top,121722501013,30/01/2020 15:00:28,DASARI PAVAN SAI,ravindrakumarroyal12@gmail.com,Information Technology,B.Tech,2020-01-30 15:00:28,2020-01-30 15:00:28,NaN
freq,1,2,1,1,4,13,2,2,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07,2020-01-30 15:00:07,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38,2020-01-30 15:07:38,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.846154
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.371902
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.250000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.750000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000

# global_sales_data

- cust_dimen
- market_fact
- orders_dimen
- prod_dimen	
- shipping_dimen

- Read the Market Fact data into market_df
- Display the top five rows
- Display the last three rows
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Print the row indices of the dataframe
- Check the dtype of each and every columns
- Description for Numerical Column min,max,count,25%,50%,75%,std
- Description for the categorical Columns count,top,freq
- Missing value count column wise
- Total Missing values count in the DataFrame
- Check the output for the info function
- Access 3,5,7 columns using iloc,loc and without using any of them
- How many unique products are there
- How amny unique customers are there
- What is the maximum sales

In [420]:
# Read the Market Fact data into market_df
market_df=pd.read_csv('C:\\Users\\Deepak\\Desktop\\all doc\\problem solving and programming\\data\\global_sales_data\\market_fact.csv')
market_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [421]:
# Display the top five rows
market_df.head(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [422]:
# Display the last three rows
market_df.tail(3)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.05,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.87,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.00,47,131.39,4.86,0.38

In [423]:
# Check the total number of entries you have
market_df.shape[0]

8399

In [424]:
# Check the No of features
market_df.shape[1]

10

In [425]:
# Print features Names(Column Names)
market_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [426]:
# Print the row indices of the dataframe
market_df.index

RangeIndex(start=0, stop=8399, step=1)

In [427]:
# Check the dtype of each and every column
market_df.dtypes

Ord_id                  object
Prod_id                 object
Ship_id                 object
Cust_id                 object
Sales                  float64
Discount               float64
Order_Quantity           int64
Profit                 float64
Shipping_Cost          float64
Product_Base_Margin    float64
dtype: object

In [428]:
# Description for Numerical Column min,max,count,25%,50%,75%,std
market_df.describe(include='all')

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399,8399,8399,8399,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
unique,5506,17,7701,1832,NaN,NaN,NaN,NaN,NaN,NaN
top,Ord_2506,Prod_6,SHP_1378,Cust_1140,NaN,NaN,NaN,NaN,NaN,NaN
freq,6,1225,4,30,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,NaN,NaN,NaN,NaN,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,NaN,NaN,NaN,NaN,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,NaN,NaN,NaN,NaN,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,NaN,NaN,NaN,NaN,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,NaN,NaN,NaN,NaN,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,NaN,NaN,NaN,NaN,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [190]:
# Description for the categorical Columns count,top,freq
market_df.describe(include='object')

          Ord_id Prod_id   Ship_id    Cust_id
count       8399    8399      8399       8399
unique      5506      17      7701       1832
top     Ord_2506  Prod_6  SHP_1378  Cust_1140
freq           6    1225         4         30

In [192]:
# Missing value count column wise
market_df.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [193]:
# Total Missing values count in the DataFrame 
market_df.isnull().sum().sum()

63

In [194]:
# Check the output for the info function
market_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [202]:
# Access 3,5,7 columns using iloc,loc and without using any of them
market_df.iloc[:,2:7:2]

       Ship_id       Sales  Order_Quantity
0     SHP_7609    136.8100              23
1     SHP_7549     42.2700              13
2     SHP_7610   4701.6900              26
3     SHP_7625   2337.8900              43
4     SHP_7664   4233.1500              35
5     SHP_7608    164.0200              23
6       SHP_41     14.7600               5
7     SHP_6593   3410.1575              48
8     SHP_6593    162.0000              33
9     SHP_6593     57.2200               8
10    SHP_6615   4072.0100              43
11    SHP_2637    465.9000              38
12    SHP_4112    305.0500              27
13    SHP_3093   3364.2480              15
14    SHP_3006   1410.9300              10
15    SHP_3114    460.6900              48
16    SHP_3122    443.4600              30
17    SHP_6228  13255.9300              25
18    SHP_6171    283.1300              45
19    SHP_1378     41.9700              12
20    SHP_1378     57.1700              18
21    SHP_1378     81.2500              11
22    SHP_1377   3202.2500              44
23    SHP_1378     35.6400              10
24    SHP_3525    197.6100              13
25    SHP_3204     38.2600              22
26    SHP_3367    109.5800              13
27    SHP_3300   1062.6900              28
28    SHP_3527   3594.7435              38
29    SHP_3395    139.9800              33
...        ...         ...             ...
8369  SHP_5031   1169.2600              41
8370  SHP_3690     62.7800              20
8371  SHP_3591   4924.1350              28
8372  SHP_3806     56.9000               7
8373  SHP_3560    106.6400              30
8374  SHP_3637   1082.6600              14
8375  SHP_3806   1413.8200              47
8376  SHP_3590   1211.0000              36
8377  SHP_3729     34.0100              12
8378  SHP_3705   1361.9100              20
8379  SHP_3730   1008.9500              41
8380  SHP_3807    308.9200              45
8381  SHP_3691   2836.0505              25
8382  SHP_3636    120.9800              28
8383  SHP_3731   3508.3300              21
8384  SHP_6435     59.6200              10
8385  SHP_2527    611.1600              46
8386  SHP_3189    121.8700              39
8387  SHP_3019     41.0600               4
8388  SHP_6165    994.0400              10
8389  SHP_6192    159.4100              44
8390  SHP_7594    316.9900              47
8391  SHP_7594   1991.8985              20
8392  SHP_7519    181.5000              43
8393  SHP_7470    356.7200               9
8394  SHP_7479   2841.4395              28
8395  SHP_7555    127.1600              20
8396  SHP_7524    243.0500              39
8397  SHP_7469   3872.8700              23
8398  SHP_7628    603.6900              47

[8399 rows x 3 columns]

In [203]:
market_df.loc[:,[ 'Ship_id', 'Sales','Order_Quantity']]

       Ship_id       Sales  Order_Quantity
0     SHP_7609    136.8100              23
1     SHP_7549     42.2700              13
2     SHP_7610   4701.6900              26
3     SHP_7625   2337.8900              43
4     SHP_7664   4233.1500              35
5     SHP_7608    164.0200              23
6       SHP_41     14.7600               5
7     SHP_6593   3410.1575              48
8     SHP_6593    162.0000              33
9     SHP_6593     57.2200               8
10    SHP_6615   4072.0100              43
11    SHP_2637    465.9000              38
12    SHP_4112    305.0500              27
13    SHP_3093   3364.2480              15
14    SHP_3006   1410.9300              10
15    SHP_3114    460.6900              48
16    SHP_3122    443.4600              30
17    SHP_6228  13255.9300              25
18    SHP_6171    283.1300              45
19    SHP_1378     41.9700              12
20    SHP_1378     57.1700              18
21    SHP_1378     81.2500              11
22    SHP_1377   3202.2500              44
23    SHP_1378     35.6400              10
24    SHP_3525    197.6100              13
25    SHP_3204     38.2600              22
26    SHP_3367    109.5800              13
27    SHP_3300   1062.6900              28
28    SHP_3527   3594.7435              38
29    SHP_3395    139.9800              33
...        ...         ...             ...
8369  SHP_5031   1169.2600              41
8370  SHP_3690     62.7800              20
8371  SHP_3591   4924.1350              28
8372  SHP_3806     56.9000               7
8373  SHP_3560    106.6400              30
8374  SHP_3637   1082.6600              14
8375  SHP_3806   1413.8200              47
8376  SHP_3590   1211.0000              36
8377  SHP_3729     34.0100              12
8378  SHP_3705   1361.9100              20
8379  SHP_3730   1008.9500              41
8380  SHP_3807    308.9200              45
8381  SHP_3691   2836.0505              25
8382  SHP_3636    120.9800              28
8383  SHP_3731   3508.3300              21
8384  SHP_6435     59.6200              10
8385  SHP_2527    611.1600              46
8386  SHP_3189    121.8700              39
8387  SHP_3019     41.0600               4
8388  SHP_6165    994.0400              10
8389  SHP_6192    159.4100              44
8390  SHP_7594    316.9900              47
8391  SHP_7594   1991.8985              20
8392  SHP_7519    181.5000              43
8393  SHP_7470    356.7200               9
8394  SHP_7479   2841.4395              28
8395  SHP_7555    127.1600              20
8396  SHP_7524    243.0500              39
8397  SHP_7469   3872.8700              23
8398  SHP_7628    603.6900              47

[8399 rows x 3 columns]

In [213]:
market_df[[ 'Ship_id', 'Sales','Order_Quantity']]

       Ship_id       Sales  Order_Quantity
0     SHP_7609    136.8100              23
1     SHP_7549     42.2700              13
2     SHP_7610   4701.6900              26
3     SHP_7625   2337.8900              43
4     SHP_7664   4233.1500              35
5     SHP_7608    164.0200              23
6       SHP_41     14.7600               5
7     SHP_6593   3410.1575              48
8     SHP_6593    162.0000              33
9     SHP_6593     57.2200               8
10    SHP_6615   4072.0100              43
11    SHP_2637    465.9000              38
12    SHP_4112    305.0500              27
13    SHP_3093   3364.2480              15
14    SHP_3006   1410.9300              10
15    SHP_3114    460.6900              48
16    SHP_3122    443.4600              30
17    SHP_6228  13255.9300              25
18    SHP_6171    283.1300              45
19    SHP_1378     41.9700              12
20    SHP_1378     57.1700              18
21    SHP_1378     81.2500              11
22    SHP_1377   3202.2500              44
23    SHP_1378     35.6400              10
24    SHP_3525    197.6100              13
25    SHP_3204     38.2600              22
26    SHP_3367    109.5800              13
27    SHP_3300   1062.6900              28
28    SHP_3527   3594.7435              38
29    SHP_3395    139.9800              33
...        ...         ...             ...
8369  SHP_5031   1169.2600              41
8370  SHP_3690     62.7800              20
8371  SHP_3591   4924.1350              28
8372  SHP_3806     56.9000               7
8373  SHP_3560    106.6400              30
8374  SHP_3637   1082.6600              14
8375  SHP_3806   1413.8200              47
8376  SHP_3590   1211.0000              36
8377  SHP_3729     34.0100              12
8378  SHP_3705   1361.9100              20
8379  SHP_3730   1008.9500              41
8380  SHP_3807    308.9200              45
8381  SHP_3691   2836.0505              25
8382  SHP_3636    120.9800              28
8383  SHP_3731   3508.3300              21
8384  SHP_6435     59.6200              10
8385  SHP_2527    611.1600              46
8386  SHP_3189    121.8700              39
8387  SHP_3019     41.0600               4
8388  SHP_6165    994.0400              10
8389  SHP_6192    159.4100              44
8390  SHP_7594    316.9900              47
8391  SHP_7594   1991.8985              20
8392  SHP_7519    181.5000              43
8393  SHP_7470    356.7200               9
8394  SHP_7479   2841.4395              28
8395  SHP_7555    127.1600              20
8396  SHP_7524    243.0500              39
8397  SHP_7469   3872.8700              23
8398  SHP_7628    603.6900              47

[8399 rows x 3 columns]

In [211]:
# How many unique products are there
market_df.Prod_id.nunique()

17

In [209]:
# How amny unique customers are there
market_df.Cust_id.nunique()

1832

In [215]:
# What is the maximum sales
market_df.Sales.max()

89061.05

# Prod_dimen.csv
- Read the Prod_diment data into prod_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Merge Market_df and Prod_pf creaate new datarame with comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts in "Product_Category" and "Product_Sub_Category" columns

In [220]:
# Read the Prod_diment data into prod_df
prod_df=pd.read_csv('C:\\Users\\Deepak\\Desktop\\all doc\\problem solving and programming\\data\\global_sales_data\\Prod_dimen.csv')
prod_df

   Product_Category            Product_Sub_Category  Prod_id
0   OFFICE SUPPLIES          STORAGE & ORGANIZATION   Prod_1
1   OFFICE SUPPLIES                      APPLIANCES   Prod_2
2   OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES   Prod_3
3        TECHNOLOGY    TELEPHONES AND COMMUNICATION   Prod_4
4         FURNITURE              OFFICE FURNISHINGS   Prod_5
5   OFFICE SUPPLIES                           PAPER   Prod_6
6   OFFICE SUPPLIES                    RUBBER BANDS   Prod_7
7        TECHNOLOGY            COMPUTER PERIPHERALS   Prod_8
8   OFFICE SUPPLIES                       ENVELOPES   Prod_9
9         FURNITURE                       BOOKCASES  Prod_10
10        FURNITURE                          TABLES  Prod_11
11  OFFICE SUPPLIES                          LABELS  Prod_12
12  OFFICE SUPPLIES             PENS & ART SUPPLIES  Prod_13
13       TECHNOLOGY                 COPIERS AND FAX  Prod_14
14        FURNITURE              CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES   SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                 OFFICE MACHINES  Prod_17

In [221]:
# Display the top two rows
prod_df.head(2)

  Product_Category    Product_Sub_Category Prod_id
0  OFFICE SUPPLIES  STORAGE & ORGANIZATION  Prod_1
1  OFFICE SUPPLIES              APPLIANCES  Prod_2

In [222]:
# Display the last three rows
prod_df.tail(3)

   Product_Category           Product_Sub_Category  Prod_id
14        FURNITURE             CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                OFFICE MACHINES  Prod_17

In [372]:
# Select one row randomly
prod_df.sample()

   Product_Category Product_Sub_Category  Prod_id
13       TECHNOLOGY      COPIERS AND FAX  Prod_14

In [225]:
# Check the total number of entries you have
prod_df.shape[0]

17

In [227]:
# Check the No of features
prod_df.shape[1]

3

In [229]:
# Print features Names(Column Names)
prod_df.columns

Index(['Product_Category', 'Product_Sub_Category', 'Prod_id'], dtype='object')

In [233]:
# Check the dtype of each and every columns
prod_df.dtypes

Product_Category        object
Product_Sub_Category    object
Prod_id                 object
dtype: object

In [429]:
# Merge Market_df and Prod_pf create new datarame with comb_data
comb_data=pd.merge(market_df,prod_df)
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
5,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.09,0.09,9,-13.53,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
6,Ord_1854,Prod_16,SHP_2548,Cust_727,182.47,0.05,17,-3.18,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
7,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
8,Ord_4080,Prod_16,SHP_5688,Cust_1388,666.40,0.00,39,2.02,7.42,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
9,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
10,Ord_1579,Prod_16,SHP_2178,Cust_566,139.37,0.04,16,1.72,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
11,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
12,Ord_2471,Prod_16,SHP_3386,Cust_965,90.93,0.05,43,-72.50,2.56,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
13,Ord_2873,Prod_16,SHP_3957,Cust_1052,138.55,0.03,16,0.90,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
14,Ord_43,Prod_16,SHP_56,Cust_34,9620.82,0.04,6,-1759.58,24.49,0.81,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
15,Ord_956,Prod_16,SHP_1324,Cust_346,503.17,0.01,46,-10.21,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
16,Ord_975,Prod_16,SHP_1345,Cust_346,638.91,0.02,49,77.48,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
17,Ord_2385,Prod_16,SHP_3273,Cust_939,138.84,0.00,15,8.75,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
18,Ord_4307,Prod_16,SHP_6011,Cust_1440,395.37,0.07,37,17.15,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
19,Ord_4328,Prod_16,SHP_6033,Cust_1440,103.03,0.07,49,-82.63,2.56,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
20,Ord_4031,Prod_16,SHP_5613,Cust_1391,171.50,0.02,16,-20.41,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
21,Ord_208,Prod_16,SHP_284,Cust_67,327.15,0.04,19,47.30,3.26,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
22,Ord_1154,Prod_16,SHP_1590,Cust_444,483.64,0.10,45,28.39,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
23,Ord_1486,Prod_16,SHP_2052,Cust_513,487.50,0.05,46,-25.88,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
24,Ord_1968,Prod_16,SHP_2692,Cust_1623,576.58,0.04,41,-81.55,7.59,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
25,Ord_4593,Prod_16,SHP_6388,Cust_1457,413.37,0.04,50,-224.41,7.77,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
26,Ord_279,Prod_16,SHP_378,Cust_113,399.58,0.04,46,-188.53,7.77,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
27,Ord_1793,Prod_16,SHP_2484,Cust_826,482.93,0.06,34,-67.59,7.59,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
28,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
29,Ord_5169,Prod_16,SHP_7226,Cust_1757,210.24,0.00,34,-31.67,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3903,Prod_14,SHP_5417,Cust_1334,3457.99,0.05,1,-11861.46,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8370,Ord_1699,Prod_14,SHP_2353,Cust_586,10567.45,0.10,38,2925.37,11.64,0.50,TECHNOLOGY,COPIERS AND FAX
8371,Ord_2164,Prod_14,SHP_2950,Cust_812,1294.35,0.06,3,-1569.06,24.49,0.40,TECHNOLOGY,COPIERS AND FAX
8372,Ord_3629,Prod_14,SHP_5026,Cust_1260,13934.53,0.10,50,4352.83,11.64,0.50,TECHNOLOGY,COPIERS AND FAX
8373,Ord_4166,Prod_14,SHP_5804,Cust_1401,21956.03,0.10,38,5903.09,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8374,Ord_3073,Prod_14,SHP_4267,Cust_1142,3550.28,0.06,1,-11769.17,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8375,Ord_1791,Prod_14,SHP_2711,Cust_685,21717.36,0.06,32,8249.86,24.49,0.41,TECHNOLOGY,COPIERS AND FAX
8376,Ord_3297,Prod_14,SHP_4573,Cust_1230,13571.70,0.00,29,3825.69,24.49,0.52,TECHNOLOGY,COPIERS AND FAX
8377,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8378,Ord_1479,Prod_14,SHP_2042,Cust_522,14240.76,0.06,25,3128.69,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8379,Ord_1943,Prod_14,SHP_2661,Cust_720,6813.93,0.09,16,358.19,49.00,0.38,TECHNOLOGY,COPIERS AND FAX
8380,Ord_778,Prod_14,SHP_1067,Cust_262,7813.70,0.09,40,2154.33,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8381,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8382,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8383,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8384,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8385,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,TECHNOLOGY,COPIERS AND FAX
8386,Ord_171,Prod_14,SHP_231,Cust_1194,6350.29,0.02,10,-735.97,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8387,Ord_1390,Prod_14,SHP_1919,Cust_537,6933.45,0.04,15,1200.21,49.00,0.38,TECHNOLOGY,COPIERS AND FAX
8388,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36,TECHNOLOGY,COPIERS AND FAX
8389,Ord_1767,Prod_14,SHP_2450,Cust_583,16743.76,0.00,23,6079.63,24.49,0.41,TECHNOLOGY,COPIERS AND FAX
8390,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44,TECHNOLOGY,COPIERS AND FAX
8391,Ord_5401,Prod_14,SHP_7543,Cust_1801,10281.79,0.03,20,3272.90,24.49,0.36,TECHNOLOGY,COPIERS AND FAX
8392,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8393,Ord_4106,Prod_14,SHP_5720,Cust_1397,11829.40,0.07,20,3899.72,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8394,Ord_5467,Prod_14,SHP_7639,Cust_1803,5964.19,0.10,33,988.20,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TECHNOLOGY,COPIERS AND FAX
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,TECHNOLOGY,COPIERS AND FAX

In [430]:
# check the number of rows and columns in comb_data.
comb_data.shape

(8399, 12)

In [431]:
# In the comb_data check the value counts in "Product_Category" and "Product_Sub_Category" columns
comb_data.Product_Category.value_counts()

OFFICE SUPPLIES    4610
TECHNOLOGY         2065
FURNITURE          1724
Name: Product_Category, dtype: int64

In [432]:
comb_data.Product_Sub_Category.value_counts()

PAPER                             1225
BINDERS AND BINDER ACCESSORIES     915
TELEPHONES AND COMMUNICATION       883
OFFICE FURNISHINGS                 788
COMPUTER PERIPHERALS               758
PENS & ART SUPPLIES                633
STORAGE & ORGANIZATION             546
APPLIANCES                         434
CHAIRS & CHAIRMATS                 386
TABLES                             361
OFFICE MACHINES                    337
LABELS                             288
ENVELOPES                          246
BOOKCASES                          189
RUBBER BANDS                       179
SCISSORS, RULERS AND TRIMMERS      144
COPIERS AND FAX                     87
Name: Product_Sub_Category, dtype: int64

# Orders_dimen.csv
- Read the Orders_dimen data into ord_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Check the "Order_Date" column type if it is object convert it into datetime
- Create two new columns Order_Year and Order_Month with year and month vcalues from Order_date
- Merge comb_data and ord_df and write the reslut into comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts in "Order_Priority"
- In the comb_data check the value counts for "Order_Year"
- In which Year the customer have Highest no of orders
- In the comb_data check the value counts for Order_Month
- In which Month the customer have Highest no of orders

In [433]:
# Read the Orders_dimen data into ord_df
ord_df=pd.read_csv('C:\\Users\\Deepak\\Desktop\\all doc\\problem solving and programming\\data\\global_sales_data\\Orders_dimen.csv')
ord_df

      Order_ID  Order_Date Order_Priority    Ord_id
0            3  13-10-2010            LOW     Ord_1
1          293  01-10-2012           HIGH     Ord_2
2          483  10-07-2011           HIGH     Ord_3
3          515  28-08-2010  NOT SPECIFIED     Ord_4
4          613  17-06-2011           HIGH     Ord_5
5          643  24-03-2011           HIGH     Ord_6
6          678  26-02-2010            LOW     Ord_7
7          807  23-11-2010         MEDIUM     Ord_8
8          868  08-06-2012  NOT SPECIFIED     Ord_9
9          933  04-08-2012  NOT SPECIFIED    Ord_10
10         995  30-05-2011         MEDIUM    Ord_11
11         998  25-11-2009  NOT SPECIFIED    Ord_12
12        1154  14-02-2012       CRITICAL    Ord_13
13        1344  15-04-2012            LOW    Ord_14
14        1412  12-03-2010  NOT SPECIFIED    Ord_15
15        1539  09-03-2011            LOW    Ord_16
16        1540  04-08-2012           HIGH    Ord_17
17        1702  06-05-2011           HIGH    Ord_18
18        1761  23-12-2010           HIGH    Ord_19
19        1792  08-11-2010            LOW    Ord_20
20        2275  21-10-2012  NOT SPECIFIED    Ord_21
21        2277  01-01-2011  NOT SPECIFIED    Ord_22
22        2532  10-10-2011           HIGH    Ord_23
23        2631  23-09-2010            LOW    Ord_24
24        2757  19-07-2011       CRITICAL    Ord_25
25        2791  09-10-2009           HIGH    Ord_26
26        2976  09-12-2010  NOT SPECIFIED    Ord_27
27        3232  08-10-2012       CRITICAL    Ord_28
28        3524  02-05-2012           HIGH    Ord_29
29        3908  08-03-2010         MEDIUM    Ord_30
...        ...         ...            ...       ...
5476     50726  31-10-2011            LOW  Ord_5477
5477     50790  16-07-2011       CRITICAL  Ord_5478
5478     51424  09-01-2012  NOT SPECIFIED  Ord_5479
5479     51872  23-04-2012         MEDIUM  Ord_5480
5480     52230  30-08-2012       CRITICAL  Ord_5481
5481     52518  03-04-2012       CRITICAL  Ord_5482
5482     52673  08-05-2012         MEDIUM  Ord_5483
5483     53026  26-02-2012            LOW  Ord_5484
5484     54019  01-07-2009            LOW  Ord_5485
5485     54913  03-07-2010           HIGH  Ord_5486
5486     55424  02-03-2010         MEDIUM  Ord_5487
5487     56327  11-01-2010         MEDIUM  Ord_5488
5488     56706  10-11-2009           HIGH  Ord_5489
5489     57125  03-06-2010         MEDIUM  Ord_5490
5490     57152  03-09-2012            LOW  Ord_5491
5491     57216  29-07-2010           HIGH  Ord_5492
5492     57281  20-04-2010           HIGH  Ord_5493
5493     57827  02-07-2009         MEDIUM  Ord_5494
5494     58949  16-12-2012       CRITICAL  Ord_5495
5495      1222  04-02-2010         MEDIUM  Ord_5496
5496      5767  28-04-2012           HIGH  Ord_5497
5497     11712  26-04-2009            LOW  Ord_5498
5498     14883  06-05-2011            LOW  Ord_5499
5499     20193  07-11-2010         MEDIUM  Ord_5500
5500     46437  15-09-2009         MEDIUM  Ord_5501
5501     47360  08-10-2010  NOT SPECIFIED  Ord_5502
5502     52706  09-07-2012            LOW  Ord_5503
5503     54279  30-07-2011           HIGH  Ord_5504
5504     55558  09-08-2010         MEDIUM  Ord_5505
5505     56581  08-02-2009           HIGH  Ord_5506

[5506 rows x 4 columns]

In [434]:
# Display the top two rows
ord_df.head(2)

   Order_ID  Order_Date Order_Priority Ord_id
0         3  13-10-2010            LOW  Ord_1
1       293  01-10-2012           HIGH  Ord_2

In [249]:
# Display the last three rows
ord_df.tail(3)

      Order_ID  Order_Date Order_Priority    Ord_id
5503     54279  30-07-2011           HIGH  Ord_5504
5504     55558  09-08-2010         MEDIUM  Ord_5505
5505     56581  08-02-2009           HIGH  Ord_5506

In [435]:
# Select one row randomly
ord_df.sample()

      Order_ID  Order_Date Order_Priority    Ord_id
2989     25313  21-08-2012       CRITICAL  Ord_2990

In [436]:
# Check the total number of entries you have
ord_df.shape[0]

5506

In [437]:
# Check the No of features
ord_df.shape[1]

4

In [438]:
# Print features Names(Column Names)
ord_df.columns

Index(['Order_ID', 'Order_Date', 'Order_Priority', 'Ord_id'], dtype='object')

In [439]:
# Check the dtype of each and every columns
ord_df.dtypes

Order_ID           int64
Order_Date        object
Order_Priority    object
Ord_id            object
dtype: object

In [440]:
# Check the "Order_Date" column type if it is object convert it into datetime
ord_df['Order_Date']=pd.to_datetime(ord_df['Order_Date'])
ord_df.dtypes

Order_ID                   int64
Order_Date        datetime64[ns]
Order_Priority            object
Ord_id                    object
dtype: object

In [442]:
# Create two new columns Order_Year and Order_Month with year and month vcalues from Order_Date
ord_df['Order_Month']=ord_df['Order_Date'].dt.month
ord_df['Order_Month']

0       10
1        1
2       10
3        8
4        6
5        3
6        2
7       11
8        8
9        4
10       5
11      11
12       2
13       4
14      12
15       9
16       4
17       6
18      12
19       8
20      10
21       1
22      10
23       9
24       7
25       9
26       9
27       8
28       2
29       8
        ..
5476    10
5477     7
5478     9
5479     4
5480     8
5481     3
5482     8
5483     2
5484     1
5485     3
5486     2
5487    11
5488    10
5489     3
5490     3
5491     7
5492     4
5493     2
5494    12
5495     4
5496     4
5497     4
5498     6
5499     7
5500     9
5501     8
5502     9
5503     7
5504     9
5505     8
Name: Order_Month, Length: 5506, dtype: int64

In [444]:
ord_df['Order_Year']=ord_df['Order_Date'].dt.year
ord_df['Order_Year']

0       2010
1       2012
2       2011
3       2010
4       2011
5       2011
6       2010
7       2010
8       2012
9       2012
10      2011
11      2009
12      2012
13      2012
14      2010
15      2011
16      2012
17      2011
18      2010
19      2010
20      2012
21      2011
22      2011
23      2010
24      2011
25      2009
26      2010
27      2012
28      2012
29      2010
        ...
5476    2011
5477    2011
5478    2012
5479    2012
5480    2012
5481    2012
5482    2012
5483    2012
5484    2009
5485    2010
5486    2010
5487    2010
5488    2009
5489    2010
5490    2012
5491    2010
5492    2010
5493    2009
5494    2012
5495    2010
5496    2012
5497    2009
5498    2011
5499    2010
5500    2009
5501    2010
5502    2012
5503    2011
5504    2010
5505    2009
Name: Order_Year, Length: 5506, dtype: int64

In [445]:
# Merge comb_data and ord_df and write the reslut into comb_data
comb_data=pd.merge(comb_data,ord_df)
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Product_Category,Product_Sub_Category,Order_ID,Order_Date,Order_Priority,Order_Month,Order_Year
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,2010-07-27,NOT SPECIFIED,7,2010
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,2010-07-27,NOT SPECIFIED,7,2010
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,OFFICE SUPPLIES,PAPER,36262,2010-07-27,NOT SPECIFIED,7,2010
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,2011-02-24,HIGH,2,2011
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,2012-02-26,LOW,2,2012
5,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36992,2009-07-12,MEDIUM,7,2009
6,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",13920,2009-09-10,CRITICAL,9,2009
7,Ord_4143,Prod_6,SHP_5770,Cust_1417,901.32,0.10,25,338.01,5.08,0.38,OFFICE SUPPLIES,PAPER,13920,2009-09-10,CRITICAL,9,2009
8,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.09,0.09,9,-13.53,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",55554,2009-11-16,CRITICAL,11,2009
9,Ord_4796,Prod_13,SHP_6687,Cust_1659,150.06,0.02,49,30.97,0.70,0.56,OFFICE SUPPLIES,PENS & ART SUPPLIES,55554,2009-11-16,CRITICAL,11,2009
10,Ord_4796,Prod_6,SHP_6686,Cust_1659,122.09,0.04,6,-15.20,9.54,0.37,OFFICE SUPPLIES,PAPER,55554,2009-11-16,CRITICAL,11,2009
11,Ord_1854,Prod_16,SHP_2548,Cust_727,182.47,0.05,17,-3.18,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",48455,2009-02-06,CRITICAL,2,2009
12,Ord_1854,Prod_6,SHP_2548,Cust_622,817.53,0.03,34,76.63,11.54,0.39,OFFICE SUPPLIES,PAPER,48455,2009-02-06,CRITICAL,2,2009
13,Ord_1854,Prod_17,SHP_2548,Cust_564,25.96,0.06,2,-29.29,6.24,0.36,TECHNOLOGY,OFFICE MACHINES,48455,2009-02-06,CRITICAL,2,2009
14,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",19524,2010-01-14,CRITICAL,1,2010
15,Ord_4080,Prod_16,SHP_5688,Cust_1388,666.40,0.00,39,2.02,7.42,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",43653,2012-10-30,HIGH,10,2012
16,Ord_4080,Prod_7,SHP_5687,Cust_1388,10.62,0.07,3,-3.96,1.35,0.40,OFFICE SUPPLIES,RUBBER BANDS,43653,2012-10-30,HIGH,10,2012
17,Ord_4080,Prod_1,SHP_5689,Cust_1388,351.30,0.06,10,1.45,8.22,0.57,OFFICE SUPPLIES,STORAGE & ORGANIZATION,43653,2012-10-30,HIGH,10,2012
18,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",39330,2010-07-17,CRITICAL,7,2010
19,Ord_1579,Prod_16,SHP_2178,Cust_566,139.37,0.04,16,1.72,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",43367,2010-09-03,CRITICAL,9,2010
20,Ord_1579,Prod_6,SHP_2177,Cust_566,23.38,0.08,3,-12.19,5.14,0.37,OFFICE SUPPLIES,PAPER,43367,2010-09-03,CRITICAL,9,2010
21,Ord_1579,Prod_1,SHP_2179,Cust_566,1221.62,0.01,18,-468.64,35.00,0.80,OFFICE SUPPLIES,STORAGE & ORGANIZATION,43367,2010-09-03,CRITICAL,9,2010
22,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",20259,2011-05-24,CRITICAL,5,2011
23,Ord_2471,Prod_16,SHP_3386,Cust_965,90.93,0.05,43,-72.50,2.56,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36355,2009-02-12,MEDIUM,2,2009
24,Ord_2471,Prod_13,SHP_3386,Cust_965,125.95,0.00,10,15.73,2.36,0.55,OFFICE SUPPLIES,PENS & ART SUPPLIES,36355,2009-02-12,MEDIUM,2,2009
25,Ord_2471,Prod_5,SHP_3385,Cust_965,129.50,0.02,6,65.49,6.68,0.53,FURNITURE,OFFICE FURNISHINGS,36355,2009-02-12,MEDIUM,2,2009
26,Ord_2471,Prod_3,SHP_3384,Cust_965,61.43,0.09,9,-42.98,7.78,0.37,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,36355,2009-02-12,MEDIUM,2,2009
27,Ord_2873,Prod_16,SHP_3957,Cust_1052,138.55,0.03,16,0.90,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",18595,2009-01-31,CRITICAL,1,2009
28,Ord_2873,Prod_2,SHP_3957,Cust_1052,451.44,0.10,6,-35.19,13.99,0.52,OFFICE SUPPLIES,APPLIANCES,18595,2009-01-31,CRITICAL,1,2009
29,Ord_43,Prod_16,SHP_56,Cust_34,9620.82,0.04,6,-1759.58,24.49,0.81,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",6116,2009-03-20,MEDIUM,3,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8369,Ord_5471,Prod_8,SHP_7644,Cust_1819,214.94,0.06,12,26.75,1.99,0.45,TECHNOLOGY,COMPUTER PERIPHERALS,48000,2012-08-13,HIGH,8,2012
8370,Ord_5414,Prod_8,SHP_7559,Cust_1819,1383.20,0.01,18,-23.44,12.14,0.67,TECHNOLOGY,COMPUTER PERIPHERALS,24802,2009-01-23,MEDIUM,1,2009
8371,Ord_2795,Prod_8,SHP_3843,Cust_1025,596.56,0.04,20,60.70,5.50,0.51,TECHNOLOGY,COMPUTER PERIPHERALS,52805,2011-09-28,HIGH,9,2011
8372,Ord_2175,Prod_8,SHP_2964,Cust_810,475.58,0.04,29,108.21,4.00,0.37,TECHNOLOGY,COMPUTER PERIPHERALS,47556,2010-07-25,LOW,7,2010
8373,Ord_5188,Prod_14,SHP_7252,Cust_1749,5177.40,0.06,12,287.50,49.00,0.38,TECHNOLOGY,COPIERS AND FAX,29988,2009-12-06,HIGH,12,2009
8374,Ord_4941,Prod_14,SHP_6892,Cust_1680,6034.68,0.06,12,-517.08,24.49,0.36,TECHNOLOGY,COPIERS AND FAX,54917,2010-09-04,HIGH,9,2010
8375,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.35,0.09,47,2787.59,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,23616,2012-08-28,NOT SPECIFIED,8,2012
8376,Ord_19,Prod_14,SHP_26,Cust_14,12028.23,0.01,25,-547.61,49.00,0.38,TECHNOLOGY,COPIERS AND FAX,1761,2010-12-23,HIGH,12,2010
8377,Ord_2437,Prod_14,SHP_3344,Cust_929,4667.28,0.09,7,-362.88,24.49,0.41,TECHNOLOGY,COPIERS AND FAX,30114,2010-08-16,LOW,8,2010
8378,Ord_5448,Prod_14,SHP_7613,Cust_1797,17605.77,0.01,38,-370.04,49.00,0.38,TECHNOLOGY,COPIERS AND FAX,36357,2012-01-14,NOT SPECIFIED,1,2012
8379,Ord_4543,Prod_14,SHP_6324,Cust_1538,23949.51,0.00,46,-1312.84,24.49,0.36,TECHNOLOGY,COPIERS AND FAX,23168,2010-09-15,LOW,9,2010
8380,Ord_2439,Prod_14,SHP_3346,Cust_942,16468.55,0.08,39,5638.75,49.00,0.38,TECHNOLOGY,COPIERS AND FAX,30725,2009-12-28,MEDIUM,12,2009
8381,Ord_396,Prod_14,SHP_532,Cust_139,8662.34,0.00,15,-704.66,49.00,0.35,TECHNOLOGY,COPIERS AND FAX,24388,2011-01-26,CRITICAL,1,2011
8382,Ord_421,Prod_14,SHP_565,Cust_142,10791.38,0.08,23,-234.79,24.49,0.36,TECHNOLOGY,COPIERS AND FAX,33763,2010-09-23,NOT SPECIFIED,9,2010
8383,Ord_1334,Prod_14,SHP_1835,Cust_507,885.94,0.08,2,-2024.08,24.49,0.52,TECHNOLOGY,COPIERS AND FAX,5444,2011-03-17,CRITICAL,3,2011
8384,Ord_432,Prod_14,SHP_578,Cust_138,23255.61,0.00,38,-734.33,24.49,0.44,TECHNOLOGY,COPIERS AND FAX,36677,2009-12-23,LOW,12,2009
8385,Ord_388,Prod_14,SHP_519,Cust_138,2543.95,0.04,5,-1011.32,24.49,0.36,TECHNOLOGY,COPIERS AND FAX,20033,2010-05-21,CRITICAL,5,2010
8386,Ord_3409,Prod_14,SHP_4725,Cust_1244,21205.50,0.10,33,241.30,24.49,0.41,TECHNOLOGY,COPIERS AND FAX,37124,2012-03-30,LOW,3,2012
8387,Ord_4614,Prod_14,SHP_6423,Cust_1571,29884.60,0.05,49,12748.86,24.49,0.44,TECHNOLOGY,COPIERS AND FAX,32932,2010-09-01,LOW,9,2010
8388,Ord_3990,Prod_14,SHP_5550,Cust_1368,2600.44,0.03,5,-921.94,24.49,0.36,TECHNOLOGY,COPIERS AND FAX,48128,2012-11-04,MEDIUM,11,2012
8389,Ord_757,Prod_14,SHP_1034,Cust_231,6607.92,0.06,34,1462.72,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,20961,2010-01-14,NOT SPECIFIED,1,2010
8390,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.61,0.02,3,196.08,24.49,0.41,TECHNOLOGY,COPIERS AND FAX,38693,2011-06-14,LOW,6,2011
8391,Ord_5097,Prod_14,SHP_7119,Cust_1731,21046.74,0.04,29,5217.27,24.49,0.54,TECHNOLOGY,COPIERS AND FAX,21188,2011-09-21,CRITICAL,9,2011
8392,Ord_3073,Prod_14,SHP_4267,Cust_1142,3550.28,0.06,1,-11769.17,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,22917,2009-01-03,MEDIUM,1,2009
8393,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,48800,2010-10-22,NOT SPECIFIED,10,2010
8394,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,54214,2012-02-01,MEDIUM,2,2012
8395,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,TECHNOLOGY,COPIERS AND FAX,52035,2009-11-27,HIGH,11,2009
8396,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36,TECHNOLOGY,COPIERS AND FAX,5988,2010-11-21,NOT SPECIFIED,11,2010
8397,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,27616,2012-07-30,LOW,7,2012
8398,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,41895,2011-10-01,CRITICAL,10,2011

In [446]:
# check the number of rows and columns in comb_data.
comb_data.shape

(8399, 17)

In [447]:
#In the comb_data check the value counts in "Order_Priority"
comb_data.Order_Priority.value_counts()

HIGH             1768
LOW              1720
NOT SPECIFIED    1672
MEDIUM           1631
CRITICAL         1608
Name: Order_Priority, dtype: int64

In [448]:
# In the comb_data check the value counts for "Order_Year"
comb_data.Order_Year.value_counts()

2009    2153
2010    2142
2012    2102
2011    2002
Name: Order_Year, dtype: int64

In [449]:
# In which Year the customer have Highest no of orders
comb_data.Order_Year.value_counts().argmax()

C:\Users\Deepak\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

2009

In [450]:
# In the comb_data check the value counts for Order_Month
comb_data.Order_Month.value_counts()

5     759
10    755
7     751
9     743
12    715
4     697
3     694
11    679
8     667
1     656
2     643
6     640
Name: Order_Month, dtype: int64

In [451]:
# In which Month the customer have Highest no of orders
comb_data.Order_Month.value_counts().argmax()

C:\Users\Deepak\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

5

# cust_dimen.csv
- Read the cust_dimen data into cust_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Merge comb_data and cust_df and write the reslut into comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts in "Customer_Segment"

In [452]:
# Read the cust_dimen data into cust_df
cust_df=pd.read_csv('C:\\Users\\Deepak\\Desktop\\all doc\\problem solving and programming\\data\\global_sales_data\\cust_dimen.csv')
cust_df

           Customer_Name Province   Region Customer_Segment    Cust_id
0     MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS     Cust_1
1           BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER     Cust_2
2          CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE     Cust_3
3         CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER     Cust_4
4           CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE     Cust_5
5         MONICA FEDERLE  NUNAVUT  NUNAVUT        CORPORATE     Cust_6
6        DOROTHY BADDERS  NUNAVUT  NUNAVUT      HOME OFFICE     Cust_7
7        NEOLA SCHNEIDER  NUNAVUT  NUNAVUT      HOME OFFICE     Cust_8
8            CARLOS DALY  NUNAVUT  NUNAVUT      HOME OFFICE     Cust_9
9          CLAUDIA MINER  NUNAVUT  NUNAVUT   SMALL BUSINESS    Cust_10
10      ALLEN ROSENBLATT  NUNAVUT  NUNAVUT   SMALL BUSINESS    Cust_11
11       SYLVIA FOULSTON  NUNAVUT  NUNAVUT      HOME OFFICE    Cust_12
12           JIM RADFORD  NUNAVUT  NUNAVUT        CORPORATE    Cust_13
13           CARL LUDWIG  NUNAVUT  NUNAVUT        CORPORATE    Cust_14
14            DON MILLER  NUNAVUT  NUNAVUT      HOME OFFICE    Cust_15
15          ANNIE CYPRUS  NUNAVUT  NUNAVUT      HOME OFFICE    Cust_16
16         GRANT CARROLL  NUNAVUT  NUNAVUT   SMALL BUSINESS    Cust_17
17           ALAN BARNES  NUNAVUT  NUNAVUT        CORPORATE    Cust_18
18            JACK GARZA  NUNAVUT  NUNAVUT        CORPORATE    Cust_19
19            JULIA WEST  NUNAVUT  NUNAVUT        CORPORATE    Cust_20
20        EUGENE BARCHAS  NUNAVUT  NUNAVUT        CORPORATE    Cust_21
21          EDWARD HOOKS  NUNAVUT  NUNAVUT         CONSUMER    Cust_22
22            BRAD EASON  NUNAVUT  NUNAVUT   SMALL BUSINESS    Cust_23
23         NICOLE HANSEN  NUNAVUT  NUNAVUT   SMALL BUSINESS    Cust_24
24        DOROTHY WARDLE  NUNAVUT  NUNAVUT        CORPORATE    Cust_25
25         AARON BERGMAN  NUNAVUT  NUNAVUT        CORPORATE    Cust_26
26             DON JONES  NUNAVUT  NUNAVUT        CORPORATE    Cust_27
27         BETH THOMPSON  NUNAVUT  NUNAVUT        CORPORATE    Cust_28
28           FRANK PRICE  NUNAVUT  NUNAVUT        CORPORATE    Cust_29
29     MICHELLE LONSDALE  NUNAVUT  NUNAVUT      HOME OFFICE    Cust_30
...                  ...      ...      ...              ...        ...
1802       TONJA TURNELL  ALBERTA     WEST         CONSUMER  Cust_1803
1803       BRENDAN SWEED  ALBERTA     WEST         CONSUMER  Cust_1804
1804          TONY SAYRE  ALBERTA     WEST      HOME OFFICE  Cust_1805
1805        JIM KARLSSON  ALBERTA     WEST   SMALL BUSINESS  Cust_1806
1806            ROY PHAN  ALBERTA     WEST        CORPORATE  Cust_1807
1807       STEVEN ROELLE  ALBERTA     WEST   SMALL BUSINESS  Cust_1808
1808  CHRISTOPHER CONANT  ALBERTA     WEST         CONSUMER  Cust_1809
1809      ANDREW ROBERTS  ALBERTA     WEST      HOME OFFICE  Cust_1810
1810         CYMA KINNEY  ALBERTA     WEST   SMALL BUSINESS  Cust_1811
1811   CHRISTINE ABELMAN  ALBERTA     WEST        CORPORATE  Cust_1812
1812         ERICA SMITH  ALBERTA     WEST   SMALL BUSINESS  Cust_1813
1813  CHRISTOPHER CONANT  ALBERTA     WEST      HOME OFFICE  Cust_1814
1814         SARAH BROWN  ALBERTA     WEST         CONSUMER  Cust_1815
1815            SHUI TOM  ALBERTA     WEST      HOME OFFICE  Cust_1816
1816        FRANK HAWLEY  ALBERTA     WEST      HOME OFFICE  Cust_1817
1817       AARON BERGMAN  ALBERTA     WEST        CORPORATE  Cust_1818
1818    VICTORIA BRENNAN  ALBERTA     WEST   SMALL BUSINESS  Cust_1819
1819        ADRIAN SHAMI  ALBERTA     WEST         CONSUMER  Cust_1820
1820       PHILLINA OBER  ALBERTA     WEST   SMALL BUSINESS  Cust_1821
1821      ANDREW ROBERTS  ALBERTA     WEST   SMALL BUSINESS  Cust_1822
1822     JEREMY LONSDALE  ALBERTA     WEST        CORPORATE  Cust_1823
1823            SHUI TOM  ALBERTA     WEST         CONSUMER  Cust_1824
1824          ANDY YOTOV  ALBERTA     WEST        CORPORATE  Cust_1825
1825      NICOLE BRENNAN  ALBERTA     WEST      HOME OFFICE  Cust_1826
1826      JESSICA MYRICK  ALBERTA     WEST   SMALL BUSINESS  Cust_1827
1827      NICOLE BRENNAN  ALBERTA     WEST         CONSUMER  Cust_1828
1828       JASON FORTUNE  ALBERTA     WEST        CORPORATE  Cust_1829
1829        HARRY GREENE  ALBERTA     WEST        CORPORATE  Cust_1830
1830     GRANT DONATELLI  ALBERTA     WEST         CONSUMER  Cust_1831
1831          MICK BROWN  ALBERTA     WEST         CONSUMER  Cust_1832

[1832 rows x 5 columns]

In [453]:
# Display the top two rows
cust_df.head(2)

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2

In [454]:
# Display the last three rows
cust_df.tail(3)

        Customer_Name Province Region Customer_Segment    Cust_id
1829     HARRY GREENE  ALBERTA   WEST        CORPORATE  Cust_1830
1830  GRANT DONATELLI  ALBERTA   WEST         CONSUMER  Cust_1831
1831       MICK BROWN  ALBERTA   WEST         CONSUMER  Cust_1832

In [455]:
# Select one row randomly
cust_df.sample()

      Customer_Name Province  Region Customer_Segment   Cust_id
786  VIVEK GONZALEZ   QUEBEC  QUEBEC         CONSUMER  Cust_787

In [456]:
# Check the total number of entries you have
cust_df.shape[0]

1832

In [457]:
# Check the No of features
cust_df.shape[1]

5

In [458]:
# Print features Names(Column Names)
cust_df.columns

Index(['Customer_Name', 'Province', 'Region', 'Customer_Segment', 'Cust_id'], dtype='object')

In [459]:
# Check the dtype of each and every columns
cust_df.dtypes

Customer_Name       object
Province            object
Region              object
Customer_Segment    object
Cust_id             object
dtype: object

In [460]:
# Merge comb_data and cust_df and write the reslut into comb_data
comb_data=pd.merge(comb_data,cust_df)
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Product_Sub_Category,Order_ID,Order_Date,Order_Priority,Order_Month,Order_Year,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,...,"SCISSORS, RULERS AND TRIMMERS",36262,2010-07-27,NOT SPECIFIED,7,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,...,TELEPHONES AND COMMUNICATION,36262,2010-07-27,NOT SPECIFIED,7,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37,...,PAPER,36262,2010-07-27,NOT SPECIFIED,7,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,...,PENS & ART SUPPLIES,20513,2009-07-07,HIGH,7,2009,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,...,PAPER,39682,2010-09-11,MEDIUM,9,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE
5,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,...,OFFICE MACHINES,54019,2009-01-07,LOW,1,2009,AARON BERGMAN,ALBERTA,WEST,CORPORATE
6,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57,...,"SCISSORS, RULERS AND TRIMMERS",37863,2011-02-24,HIGH,2,2011,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE
7,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.8200,0.05,35,-17.58,3.98,0.56,...,"SCISSORS, RULERS AND TRIMMERS",53026,2012-02-26,LOW,2,2012,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
8,Ord_5430,Prod_4,SHP_7588,Cust_1820,337.2035,0.09,9,-120.93,4.99,0.56,...,TELEPHONES AND COMMUNICATION,31399,2011-05-11,NOT SPECIFIED,5,2011,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
9,Ord_5462,Prod_4,SHP_7632,Cust_1820,175.8565,0.03,10,-93.26,1.25,0.83,...,TELEPHONES AND COMMUNICATION,40838,2012-11-26,NOT SPECIFIED,11,2012,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
10,Ord_5462,Prod_5,SHP_7631,Cust_1820,323.9600,0.07,40,-136.82,7.96,0.49,...,OFFICE FURNISHINGS,40838,2012-11-26,NOT SPECIFIED,11,2012,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
11,Ord_5489,Prod_17,SHP_7671,Cust_1820,754.9200,0.00,7,-129.57,19.99,0.52,...,OFFICE MACHINES,56706,2009-10-11,HIGH,10,2009,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
12,Ord_5481,Prod_15,SHP_7659,Cust_1820,2700.7800,0.06,29,-793.36,58.20,0.58,...,CHAIRS & CHAIRMATS,52230,2012-08-30,CRITICAL,8,2012,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
13,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.0800,0.04,34,61.57,3.14,0.60,...,"SCISSORS, RULERS AND TRIMMERS",36992,2009-07-12,MEDIUM,7,2009,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE
14,Ord_3731,Prod_13,SHP_5176,Cust_1314,193.7000,0.06,20,-14.99,4.82,0.47,...,PENS & ART SUPPLIES,38596,2010-02-04,MEDIUM,2,2010,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE
15,Ord_3733,Prod_4,SHP_5178,Cust_1314,553.3415,0.08,33,-67.71,0.99,0.83,...,TELEPHONES AND COMMUNICATION,41186,2010-11-22,HIGH,11,2010,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE
16,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.2100,0.06,24,-78.64,6.14,0.59,...,"SCISSORS, RULERS AND TRIMMERS",13920,2009-09-10,CRITICAL,9,2009,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE
17,Ord_4143,Prod_6,SHP_5770,Cust_1417,901.3200,0.10,25,338.01,5.08,0.38,...,PAPER,13920,2009-09-10,CRITICAL,9,2009,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE
18,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.0900,0.09,9,-13.53,3.37,0.57,...,"SCISSORS, RULERS AND TRIMMERS",55554,2009-11-16,CRITICAL,11,2009,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS
19,Ord_4796,Prod_13,SHP_6687,Cust_1659,150.0600,0.02,49,30.97,0.70,0.56,...,PENS & ART SUPPLIES,55554,2009-11-16,CRITICAL,11,2009,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS
20,Ord_4796,Prod_6,SHP_6686,Cust_1659,122.0900,0.04,6,-15.20,9.54,0.37,...,PAPER,55554,2009-11-16,CRITICAL,11,2009,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS
21,Ord_4830,Prod_6,SHP_6731,Cust_1659,158.9100,0.06,24,-38.57,5.20,0.37,...,PAPER,59363,2009-02-05,HIGH,2,2009,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS
22,Ord_1854,Prod_16,SHP_2548,Cust_727,182.4700,0.05,17,-3.18,3.37,0.57,...,"SCISSORS, RULERS AND TRIMMERS",48455,2009-02-06,CRITICAL,2,2009,AMY COX,NOVA SCOTIA,ATLANTIC,SMALL BUSINESS
23,Ord_1854,Prod_6,SHP_2548,Cust_622,817.5300,0.03,34,76.63,11.54,0.39,...,PAPER,48455,2009-02-06,CRITICAL,2,2009,AMY COX,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS
24,Ord_1814,Prod_13,SHP_2507,Cust_622,81.9000,0.01,27,4.06,0.96,0.58,...,PENS & ART SUPPLIES,21890,2011-01-24,NOT SPECIFIED,1,2011,AMY COX,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS
25,Ord_1854,Prod_17,SHP_2548,Cust_564,25.9600,0.06,2,-29.29,6.24,0.36,...,OFFICE MACHINES,48455,2009-02-06,CRITICAL,2,2009,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS
26,Ord_2957,Prod_13,SHP_4078,Cust_564,65.1200,0.07,38,1.42,1.00,0.35,...,PENS & ART SUPPLIES,54151,2009-02-09,CRITICAL,2,2009,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS
27,Ord_2957,Prod_6,SHP_4078,Cust_564,205.8700,0.03,35,65.88,1.46,0.39,...,PAPER,54151,2009-02-09,CRITICAL,2,2009,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS
28,Ord_2991,Prod_13,SHP_4136,Cust_564,193.2500,0.03,19,71.55,1.09,0.43,...,PENS & ART SUPPLIES,25536,2011-07-22,LOW,7,2011,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS
29,Ord_2946,Prod_6,SHP_4065,Cust_564,51.2700,0.06,7,3.27,2.17,0.38,...,PAPER,48773,2009-01-15,MEDIUM,1,2009,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8369,Ord_1035,Prod_1,SHP_1429,Cust_394,4754.0800,0.00,21,299.88,28.66,0.72,...,STORAGE & ORGANIZATION,2823,2011-08-09,HIGH,8,2011,ROBERT WALDORF,MANITOBA,PRARIE,HOME OFFICE
8370,Ord_1035,Prod_8,SHP_1428,Cust_394,357.4300,0.08,17,-135.98,6.50,0.78,...,COMPUTER PERIPHERALS,2823,2011-08-09,HIGH,8,2011,ROBERT WALDORF,MANITOBA,PRARIE,HOME OFFICE
8371,Ord_994,Prod_1,SHP_1375,Cust_369,11103.7500,0.10,32,-522.59,99.00,0.65,...,STORAGE & ORGANIZATION,48480,2010-02-01,CRITICAL,2,2010,SEAN WENDT,MANITOBA,PRARIE,CORPORATE
8372,Ord_3944,Prod_1,SHP_5482,Cust_1363,294.9100,0.03,23,-37.27,6.27,0.57,...,STORAGE & ORGANIZATION,9095,2011-10-06,HIGH,10,2011,TRACY HOPKINS,SASKACHEWAN,PRARIE,SMALL BUSINESS
8373,Ord_2987,Prod_8,SHP_4127,Cust_1101,990.7300,0.02,30,56.39,4.00,0.75,...,COMPUTER PERIPHERALS,13125,2010-12-13,NOT SPECIFIED,12,2010,ALEJANDRO SAVELY,ONTARIO,ONTARIO,CORPORATE
8374,Ord_4538,Prod_8,SHP_6317,Cust_1552,105.1300,0.08,4,-103.23,4.00,0.75,...,COMPUTER PERIPHERALS,22850,2011-04-30,MEDIUM,4,2011,ALLEN ARMOLD,YUKON,YUKON,HOME OFFICE
8375,Ord_4388,Prod_8,SHP_6118,Cust_1501,448.2300,0.01,26,110.60,4.00,0.37,...,COMPUTER PERIPHERALS,6564,2011-01-21,LOW,1,2011,ANNE MCFARLAND,YUKON,YUKON,CONSUMER
8376,Ord_2114,Prod_8,SHP_2890,Cust_806,195.8300,0.04,24,10.79,1.99,0.52,...,COMPUTER PERIPHERALS,19111,2009-04-10,LOW,4,2009,BART PISTOLE,QUEBEC,QUEBEC,CONSUMER
8377,Ord_464,Prod_8,SHP_623,Cust_165,638.7200,0.04,20,-130.88,5.50,0.75,...,COMPUTER PERIPHERALS,50784,2012-10-02,HIGH,10,2012,CHUCK MAGEE,MANITOBA,PRARIE,CORPORATE
8378,Ord_4566,Prod_8,SHP_6353,Cust_1515,676.6900,0.09,21,138.10,1.99,0.43,...,COMPUTER PERIPHERALS,25476,2012-02-10,NOT SPECIFIED,2,2012,CYRA REITEN,YUKON,YUKON,CONSUMER
8379,Ord_4566,Prod_14,SHP_6354,Cust_1515,13698.9600,0.05,4,-9078.94,24.49,0.37,...,COPIERS AND FAX,25476,2012-02-10,NOT SPECIFIED,2,2012,CYRA REITEN,YUKON,YUKON,CONSUMER
8380,Ord_4412,Prod_8,SHP_6149,Cust_1515,268.5500,0.10,36,-99.02,2.83,0.77,...,COMPUTER PERIPHERALS,9093,2011-09-12,MEDIUM,9,2011,CYRA REITEN,YUKON,YUKON,CONSUMER
8381,Ord_2980,Prod_8,SHP_4114,Cust_1091,1854.9400,0.04,6,-559.78,7.18,0.48,...,COMPUTER PERIPHERALS,49989,2010-04-26,NOT SPECIFIED,4,2010,DIANNA WILSON,ONTARIO,ONTARIO,SMALL BUSINESS
8382,Ord_2995,Prod_8,SHP_4143,Cust_1113,677.9000,0.05,20,196.36,1.99,0.45,...,COMPUTER PERIPHERALS,31239,2010-08-28,LOW,8,2010,ELENI MCCRARY,ONTARIO,ONTARIO,CORPORATE
8383,Ord_2992,Prod_8,SHP_4139,Cust_1110,1177.5000,0.02,34,420.05,1.99,0.45,...,COMPUTER PERIPHERALS,28999,2009-10-01,HIGH,10,2009,GIULIETTA DORTCH,ONTARIO,ONTARIO,CORPORATE
8384,Ord_24,Prod_8,SHP_32,Cust_19,1078.4900,0.08,27,252.66,1.99,0.55,...,COMPUTER PERIPHERALS,2631,2010-09-23,LOW,9,2010,JACK GARZA,NUNAVUT,NUNAVUT,CORPORATE
8385,Ord_1860,Prod_8,SHP_2554,Cust_654,2925.7800,0.03,29,1041.29,7.18,0.40,...,COMPUTER PERIPHERALS,55940,2009-04-29,NOT SPECIFIED,4,2009,JANET MARTIN,NEWFOUNDLAND,ATLANTIC,CORPORATE
8386,Ord_1016,Prod_8,SHP_1406,Cust_383,138.0500,0.09,19,-100.49,5.53,0.69,...,COMPUTER PERIPHERALS,52868,2011-02-16,LOW,2,2011,KEN HEIDEL,MANITOBA,PRARIE,CORPORATE
8387,Ord_3676,Prod_8,SHP_5095,Cust_1294,1008.1900,0.03,23,210.01,1.99,0.55,...,COMPUTER PERIPHERALS,37603,2010-11-24,MEDIUM,11,2010,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER
8388,Ord_3676,Prod_8,SHP_5095,Cust_1294,2440.2600,0.00,50,917.28,1.99,0.55,...,COMPUTER PERIPHERALS,37603,2010-11-24,MEDIUM,11,2010,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER
8389,Ord_3665,Prod_8,SHP_5080,Cust_1294,401.1400,0.10,10,-131.03,6.50,0.74,...,COMPUTER PERIPHERALS,27813,2009-12-01,MEDIUM,12,2009,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER
8390,Ord_961,Prod_8,SHP_1330,Cust_350,2575.0100,0.09,27,231.46,19.99,0.52,...,COMPUTER PERIPHERALS,35522,2010-10-25,LOW,10,2010,MICHAEL GRANLUND,BRITISH COLUMBIA,WEST,HOME OFFICE
8391,Ord_4350,Prod_8,SHP_6065,Cust_1476,82.7200,0.08,6,-29.71,1.99,0.49,...,COMPUTER PERIPHERALS,2535,2010-05-24,LOW,5,2010,ROLAND FJELD,YUKON,YUKON,CORPORATE
8392,Ord_4567,Prod_8,SHP_6355,Cust_1476,925.4300,0.00,28,368.86,1.99,0.42,...,COMPUTER PERIPHERALS,25797,2012-01-09,NOT SPECIFIED,1,2012,ROLAND FJELD,YUKON,YUKON,CORPORATE
8393,Ord_943,Prod_8,SHP_1304,Cust_337,38.9900,0.09,23,-33.52,1.99,0.51,...,COMPUTER PERIPHERALS,29409,2011-01-13,HIGH,1,2011,SALLY MATTHIAS,BRITISH COLUMBIA,WEST,HOME OFFICE
8394,Ord_973,Prod_8,SHP_1343,Cust_357,29.0500,0.08,4,-20.90,4.32,0.64,...,COMPUTER PERIPHERALS,40259,2010-12-10,MEDIUM,12,2010,THEONE PIPPENGER,BRITISH COLUMBIA,WEST,CORPORATE
8395,Ord_1832,Prod_8,SHP_2526,Cust_636,57.0300,0.00,7,-31.38,3.52,0.68,...,COMPUTER PERIPHERALS,36230,2009-10-06,HIGH,10,2009,TOM PRESCOTT,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS
8396,Ord_2010,Prod_8,SHP_2748,Cust_760,282.5800,0.10,36,21.68,1.99,0.52,...,COMPUTER PERIPHERALS,18534,2011-12-30,LOW,12,2011,TRACY PODDAR,NOVA SCOTIA,ATLANTIC,CORPORATE
8397,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.3500,0.09,47,2787.59,24.49,0.46,...,COPIERS AND FAX,23616,2012-08-28,NOT SPECIFIED,8,2012,BECKY MARTIN,ONTARIO,ONTARIO,HOME OFFICE
8398,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.6100,0.02,3,196.08,24.49,0.41,...,COPIERS AND FAX,38693,2011-06-14,LOW,6,2011,LYCORIS SAUNDERS,ONTARIO,ONTARIO,HOME OFFICE

In [461]:
# check the number of rows and columns in comb_data.
comb_data.shape

(8399, 21)

In [463]:
# In the comb_data check the value counts in "Customer_Segment"
comb_data.Customer_Segment.value_counts()

CORPORATE         3076
HOME OFFICE       2032
CONSUMER          1649
SMALL BUSINESS    1642
Name: Customer_Segment, dtype: int64

# shipping_dimen.csv
- Read the shipping_dimen data into ship_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Check the "Ship_Date" column type if it is object convert it into datetime
- Create two new columns Ship_Year and Ship_Month with year and month vcalues from Order_date
- Merge comb_data and ord_df and write the reslut into comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts for "Ship_Year"
- In which Year the customer have Highest no of Shippings
- In the comb_data check the value counts for Ship_Month
- In which Month the customer have Highest no of Shippings
- Create a new columns "Duration" whcih the diffenence b/n Ship_Date and Order_Date

In [464]:
# Read the shipping_dimen data into ship_df
ship_df=pd.read_csv('C:\\Users\\Deepak\\Desktop\\all doc\\problem solving and programming\\data\\global_sales_data\\shipping_dimen.csv')
ship_df

      Order_ID       Ship_Mode   Ship_Date   Ship_id
0            3     REGULAR AIR  20-10-2010     SHP_1
1          293  DELIVERY TRUCK  02-10-2012     SHP_2
2          293     REGULAR AIR  03-10-2012     SHP_3
3          483     REGULAR AIR  12-07-2011     SHP_4
4          515     REGULAR AIR  30-08-2010     SHP_5
5          613     REGULAR AIR  17-06-2011     SHP_6
6          613     REGULAR AIR  18-06-2011     SHP_7
7          643     EXPRESS AIR  25-03-2011     SHP_8
8          678     REGULAR AIR  26-02-2010     SHP_9
9          807     REGULAR AIR  24-11-2010    SHP_10
10         868     REGULAR AIR  09-06-2012    SHP_11
11         868     REGULAR AIR  10-06-2012    SHP_12
12         933     REGULAR AIR  04-08-2012    SHP_13
13         995     REGULAR AIR  31-05-2011    SHP_14
14         998     REGULAR AIR  26-11-2009    SHP_15
15        1154  DELIVERY TRUCK  16-02-2012    SHP_16
16        1154     REGULAR AIR  16-02-2012    SHP_17
17        1344     REGULAR AIR  22-04-2012    SHP_18
18        1344     REGULAR AIR  19-04-2012    SHP_19
19        1412     EXPRESS AIR  14-03-2010    SHP_20
20        1412     REGULAR AIR  14-03-2010    SHP_21
21        1539     REGULAR AIR  11-03-2011    SHP_22
22        1539     REGULAR AIR  14-03-2011    SHP_23
23        1540     REGULAR AIR  06-08-2012    SHP_24
24        1702     REGULAR AIR  07-05-2011    SHP_25
25        1761  DELIVERY TRUCK  25-12-2010    SHP_26
26        1792     REGULAR AIR  13-11-2010    SHP_27
27        2275     REGULAR AIR  22-10-2012    SHP_28
28        2277     REGULAR AIR  02-01-2011    SHP_29
29        2277     REGULAR AIR  03-01-2011    SHP_30
...        ...             ...         ...       ...
7671     57125     REGULAR AIR  05-06-2010  SHP_7672
7672     57152     REGULAR AIR  03-09-2012  SHP_7673
7673     57152     REGULAR AIR  10-09-2012  SHP_7674
7674     57216  DELIVERY TRUCK  29-07-2010  SHP_7675
7675     57216     REGULAR AIR  31-07-2010  SHP_7676
7676     57281     REGULAR AIR  20-04-2010  SHP_7677
7677     57281  DELIVERY TRUCK  22-04-2010  SHP_7678
7678     57827  DELIVERY TRUCK  04-07-2009  SHP_7679
7679     57827     REGULAR AIR  03-07-2009  SHP_7680
7680     58949     REGULAR AIR  17-12-2012  SHP_7681
7681      1222     REGULAR AIR  04-02-2010  SHP_7682
7682      5767     EXPRESS AIR  29-04-2012  SHP_7683
7683      5767     REGULAR AIR  30-04-2012  SHP_7684
7684      8961  DELIVERY TRUCK  03-07-2011  SHP_7685
7685     11712     REGULAR AIR  28-04-2009  SHP_7686
7686     14883  DELIVERY TRUCK  11-05-2011  SHP_7687
7687     14883     REGULAR AIR  15-05-2011  SHP_7688
7688     20193     REGULAR AIR  09-11-2010  SHP_7689
7689     36772  DELIVERY TRUCK  17-05-2010  SHP_7690
7690     39492     REGULAR AIR  20-04-2011  SHP_7691
7691     46212     EXPRESS AIR  14-09-2012  SHP_7692
7692     46437     REGULAR AIR  17-09-2009  SHP_7693
7693     47360  DELIVERY TRUCK  10-10-2010  SHP_7694
7694     52706     EXPRESS AIR  16-07-2012  SHP_7695
7695     54279  DELIVERY TRUCK  31-07-2011  SHP_7696
7696     55558  DELIVERY TRUCK  09-08-2010  SHP_7697
7697     55558     REGULAR AIR  11-08-2010  SHP_7698
7698     56550     EXPRESS AIR  10-04-2011  SHP_7699
7699     56550     REGULAR AIR  09-04-2011  SHP_7700
7700     56581     EXPRESS AIR  11-02-2009  SHP_7701

[7701 rows x 4 columns]

In [465]:
# Display the top two rows
ship_df.head(2)

   Order_ID       Ship_Mode   Ship_Date Ship_id
0         3     REGULAR AIR  20-10-2010   SHP_1
1       293  DELIVERY TRUCK  02-10-2012   SHP_2

In [466]:
# Display the last three rows
ship_df.tail(3)

      Order_ID    Ship_Mode   Ship_Date   Ship_id
7698     56550  EXPRESS AIR  10-04-2011  SHP_7699
7699     56550  REGULAR AIR  09-04-2011  SHP_7700
7700     56581  EXPRESS AIR  11-02-2009  SHP_7701

In [467]:
# Select one row randomly
ship_df.sample()

      Order_ID    Ship_Mode   Ship_Date   Ship_id
1317     33570  REGULAR AIR  18-12-2012  SHP_1318

In [468]:
# Check the total number of entries you have
ship_df.shape[0]

7701

In [469]:
# Check the No of features
ship_df.shape[1]

4

In [470]:
# Print features Names(Column Names)
ship_df.columns

Index(['Order_ID', 'Ship_Mode', 'Ship_Date', 'Ship_id'], dtype='object')

In [471]:
# Check the dtype of each and every columns
ship_df.dtypes

Order_ID      int64
Ship_Mode    object
Ship_Date    object
Ship_id      object
dtype: object

In [472]:
# Check the "Ship_Date" column type if it is object convert it into datetime
ship_df['Ship_Date']=pd.to_datetime(ship_df['Ship_Date'])
ship_df.dtypes

Order_ID              int64
Ship_Mode            object
Ship_Date    datetime64[ns]
Ship_id              object
dtype: object

In [473]:
# Create two new columns Ship_Year and Ship_Month with year and month vcalues from Order_date
ship_df['Ship_Month']=ship_df['Ship_Date'].dt.month
ship_df['Ship_Month']

0       10
1        2
2        3
3       12
4        8
5        6
6        6
7        3
8        2
9       11
10       9
11      10
12       4
13       5
14      11
15       2
16       2
17       4
18       4
19       3
20       3
21      11
22       3
23       6
24       7
25      12
26      11
27      10
28       2
29       3
        ..
7671     5
7672     3
7673    10
7674     7
7675     7
7676     4
7677     4
7678     4
7679     3
7680    12
7681     4
7682     4
7683     4
7684     3
7685     4
7686    11
7687     5
7688     9
7689     5
7690     4
7691     9
7692     9
7693    10
7694     7
7695     7
7696     9
7697    11
7698    10
7699     9
7700    11
Name: Ship_Month, Length: 7701, dtype: int64

In [478]:
ship_df['Ship_Year']=ship_df['Ship_Date'].dt.year
ship_df['Ship_Year']

0       2010
1       2012
2       2012
3       2011
4       2010
5       2011
6       2011
7       2011
8       2010
9       2010
10      2012
11      2012
12      2012
13      2011
14      2009
15      2012
16      2012
17      2012
18      2012
19      2010
20      2010
21      2011
22      2011
23      2012
24      2011
25      2010
26      2010
27      2012
28      2011
29      2011
        ...
7671    2010
7672    2012
7673    2012
7674    2010
7675    2010
7676    2010
7677    2010
7678    2009
7679    2009
7680    2012
7681    2010
7682    2012
7683    2012
7684    2011
7685    2009
7686    2011
7687    2011
7688    2010
7689    2010
7690    2011
7691    2012
7692    2009
7693    2010
7694    2012
7695    2011
7696    2010
7697    2010
7698    2011
7699    2011
7700    2009
Name: Ship_Year, Length: 7701, dtype: int64

In [479]:
# Merge comb_data and ord_df and write the reslut into comb_data
comb_data=pd.merge(comb_data,ship_df)
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Order_Month,Order_Year,Customer_Name,Province,Region,Customer_Segment,Ship_Mode,Ship_Date,Ship_Month,Ship_Year
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,...,7,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE,REGULAR AIR,2010-07-28,7,2010
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,...,7,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE,EXPRESS AIR,2010-07-27,7,2010
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37,...,7,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE,EXPRESS AIR,2010-07-28,7,2010
3,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,...,7,2009,AARON BERGMAN,ALBERTA,WEST,CORPORATE,EXPRESS AIR,2009-08-07,8,2009
4,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,...,9,2010,AARON BERGMAN,ALBERTA,WEST,CORPORATE,EXPRESS AIR,2010-11-11,11,2010
5,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,...,1,2009,AARON BERGMAN,ALBERTA,WEST,CORPORATE,DELIVERY TRUCK,2009-08-07,8,2009
6,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57,...,2,2011,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,REGULAR AIR,2011-02-26,2,2011
7,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.8200,0.05,35,-17.58,3.98,0.56,...,2,2012,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,REGULAR AIR,2012-03-03,3,2012
8,Ord_5430,Prod_4,SHP_7588,Cust_1820,337.2035,0.09,9,-120.93,4.99,0.56,...,5,2011,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,REGULAR AIR,2011-06-11,6,2011
9,Ord_5462,Prod_4,SHP_7632,Cust_1820,175.8565,0.03,10,-93.26,1.25,0.83,...,11,2012,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,REGULAR AIR,2012-11-27,11,2012
10,Ord_5462,Prod_5,SHP_7631,Cust_1820,323.9600,0.07,40,-136.82,7.96,0.49,...,11,2012,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,REGULAR AIR,2012-11-29,11,2012
11,Ord_5489,Prod_17,SHP_7671,Cust_1820,754.9200,0.00,7,-129.57,19.99,0.52,...,10,2009,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,REGULAR AIR,2009-11-11,11,2009
12,Ord_5481,Prod_15,SHP_7659,Cust_1820,2700.7800,0.06,29,-793.36,58.20,0.58,...,8,2012,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,DELIVERY TRUCK,2012-01-09,1,2012
13,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.0800,0.04,34,61.57,3.14,0.60,...,7,2009,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,EXPRESS AIR,2009-09-12,9,2009
14,Ord_3731,Prod_13,SHP_5176,Cust_1314,193.7000,0.06,20,-14.99,4.82,0.47,...,2,2010,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,REGULAR AIR,2010-03-04,3,2010
15,Ord_3733,Prod_4,SHP_5178,Cust_1314,553.3415,0.08,33,-67.71,0.99,0.83,...,11,2010,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,REGULAR AIR,2010-11-23,11,2010
16,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.2100,0.06,24,-78.64,6.14,0.59,...,9,2009,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,REGULAR AIR,2009-10-10,10,2009
17,Ord_4143,Prod_6,SHP_5770,Cust_1417,901.3200,0.10,25,338.01,5.08,0.38,...,9,2009,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,EXPRESS AIR,2009-11-10,11,2009
18,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.0900,0.09,9,-13.53,3.37,0.57,...,11,2009,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,REGULAR AIR,2009-11-17,11,2009
19,Ord_4796,Prod_6,SHP_6686,Cust_1659,122.0900,0.04,6,-15.20,9.54,0.37,...,11,2009,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,REGULAR AIR,2009-11-17,11,2009
20,Ord_4796,Prod_13,SHP_6687,Cust_1659,150.0600,0.02,49,30.97,0.70,0.56,...,11,2009,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,REGULAR AIR,2009-11-19,11,2009
21,Ord_4830,Prod_6,SHP_6731,Cust_1659,158.9100,0.06,24,-38.57,5.20,0.37,...,2,2009,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,REGULAR AIR,2009-02-05,2,2009
22,Ord_1854,Prod_16,SHP_2548,Cust_727,182.4700,0.05,17,-3.18,3.37,0.57,...,2,2009,AMY COX,NOVA SCOTIA,ATLANTIC,SMALL BUSINESS,REGULAR AIR,2009-03-06,3,2009
23,Ord_1854,Prod_6,SHP_2548,Cust_622,817.5300,0.03,34,76.63,11.54,0.39,...,2,2009,AMY COX,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,REGULAR AIR,2009-03-06,3,2009
24,Ord_1854,Prod_17,SHP_2548,Cust_564,25.9600,0.06,2,-29.29,6.24,0.36,...,2,2009,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,REGULAR AIR,2009-03-06,3,2009
25,Ord_1814,Prod_13,SHP_2507,Cust_622,81.9000,0.01,27,4.06,0.96,0.58,...,1,2011,AMY COX,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,REGULAR AIR,2011-01-26,1,2011
26,Ord_1814,Prod_9,SHP_2507,Cust_1550,495.5000,0.06,44,-12.67,6.97,0.35,...,1,2011,AMY COX,YUKON,YUKON,SMALL BUSINESS,REGULAR AIR,2011-01-26,1,2011
27,Ord_2957,Prod_13,SHP_4078,Cust_564,65.1200,0.07,38,1.42,1.00,0.35,...,2,2009,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,REGULAR AIR,2009-03-09,3,2009
28,Ord_2957,Prod_6,SHP_4078,Cust_564,205.8700,0.03,35,65.88,1.46,0.39,...,2,2009,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,REGULAR AIR,2009-03-09,3,2009
29,Ord_2991,Prod_13,SHP_4136,Cust_564,193.2500,0.03,19,71.55,1.09,0.43,...,7,2011,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,REGULAR AIR,2011-07-22,7,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8369,Ord_1035,Prod_1,SHP_1429,Cust_394,4754.0800,0.00,21,299.88,28.66,0.72,...,8,2011,ROBERT WALDORF,MANITOBA,PRARIE,HOME OFFICE,DELIVERY TRUCK,2011-09-09,9,2011
8370,Ord_1035,Prod_8,SHP_1428,Cust_394,357.4300,0.08,17,-135.98,6.50,0.78,...,8,2011,ROBERT WALDORF,MANITOBA,PRARIE,HOME OFFICE,REGULAR AIR,2011-09-09,9,2011
8371,Ord_994,Prod_1,SHP_1375,Cust_369,11103.7500,0.10,32,-522.59,99.00,0.65,...,2,2010,SEAN WENDT,MANITOBA,PRARIE,CORPORATE,DELIVERY TRUCK,2010-05-01,5,2010
8372,Ord_3944,Prod_1,SHP_5482,Cust_1363,294.9100,0.03,23,-37.27,6.27,0.57,...,10,2011,TRACY HOPKINS,SASKACHEWAN,PRARIE,SMALL BUSINESS,REGULAR AIR,2011-12-06,12,2011
8373,Ord_2987,Prod_8,SHP_4127,Cust_1101,990.7300,0.02,30,56.39,4.00,0.75,...,12,2010,ALEJANDRO SAVELY,ONTARIO,ONTARIO,CORPORATE,EXPRESS AIR,2010-12-15,12,2010
8374,Ord_4538,Prod_8,SHP_6317,Cust_1552,105.1300,0.08,4,-103.23,4.00,0.75,...,4,2011,ALLEN ARMOLD,YUKON,YUKON,HOME OFFICE,REGULAR AIR,2011-01-05,1,2011
8375,Ord_4388,Prod_8,SHP_6118,Cust_1501,448.2300,0.01,26,110.60,4.00,0.37,...,1,2011,ANNE MCFARLAND,YUKON,YUKON,CONSUMER,REGULAR AIR,2011-01-21,1,2011
8376,Ord_2114,Prod_8,SHP_2890,Cust_806,195.8300,0.04,24,10.79,1.99,0.52,...,4,2009,BART PISTOLE,QUEBEC,QUEBEC,CONSUMER,REGULAR AIR,2009-09-10,9,2009
8377,Ord_464,Prod_8,SHP_623,Cust_165,638.7200,0.04,20,-130.88,5.50,0.75,...,10,2012,CHUCK MAGEE,MANITOBA,PRARIE,CORPORATE,REGULAR AIR,2012-11-02,11,2012
8378,Ord_4566,Prod_8,SHP_6353,Cust_1515,676.6900,0.09,21,138.10,1.99,0.43,...,2,2012,CYRA REITEN,YUKON,YUKON,CONSUMER,REGULAR AIR,2012-04-10,4,2012
8379,Ord_4566,Prod_14,SHP_6354,Cust_1515,13698.9600,0.05,4,-9078.94,24.49,0.37,...,2,2012,CYRA REITEN,YUKON,YUKON,CONSUMER,REGULAR AIR,2012-03-10,3,2012
8380,Ord_4412,Prod_8,SHP_6149,Cust_1515,268.5500,0.10,36,-99.02,2.83,0.77,...,9,2011,CYRA REITEN,YUKON,YUKON,CONSUMER,REGULAR AIR,2011-09-12,9,2011
8381,Ord_2980,Prod_8,SHP_4114,Cust_1091,1854.9400,0.04,6,-559.78,7.18,0.48,...,4,2010,DIANNA WILSON,ONTARIO,ONTARIO,SMALL BUSINESS,REGULAR AIR,2010-04-27,4,2010
8382,Ord_2995,Prod_8,SHP_4143,Cust_1113,677.9000,0.05,20,196.36,1.99,0.45,...,8,2010,ELENI MCCRARY,ONTARIO,ONTARIO,CORPORATE,REGULAR AIR,2010-02-09,2,2010
8383,Ord_2992,Prod_8,SHP_4139,Cust_1110,1177.5000,0.02,34,420.05,1.99,0.45,...,10,2009,GIULIETTA DORTCH,ONTARIO,ONTARIO,CORPORATE,REGULAR AIR,2009-11-01,11,2009
8384,Ord_24,Prod_8,SHP_32,Cust_19,1078.4900,0.08,27,252.66,1.99,0.55,...,9,2010,JACK GARZA,NUNAVUT,NUNAVUT,CORPORATE,REGULAR AIR,2010-09-25,9,2010
8385,Ord_1860,Prod_8,SHP_2554,Cust_654,2925.7800,0.03,29,1041.29,7.18,0.40,...,4,2009,JANET MARTIN,NEWFOUNDLAND,ATLANTIC,CORPORATE,REGULAR AIR,2009-04-30,4,2009
8386,Ord_1016,Prod_8,SHP_1406,Cust_383,138.0500,0.09,19,-100.49,5.53,0.69,...,2,2011,KEN HEIDEL,MANITOBA,PRARIE,CORPORATE,REGULAR AIR,2011-02-18,2,2011
8387,Ord_3676,Prod_8,SHP_5095,Cust_1294,1008.1900,0.03,23,210.01,1.99,0.55,...,11,2010,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER,REGULAR AIR,2010-11-26,11,2010
8388,Ord_3676,Prod_8,SHP_5095,Cust_1294,2440.2600,0.00,50,917.28,1.99,0.55,...,11,2010,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER,REGULAR AIR,2010-11-26,11,2010
8389,Ord_3665,Prod_8,SHP_5080,Cust_1294,401.1400,0.10,10,-131.03,6.50,0.74,...,12,2009,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER,REGULAR AIR,2009-01-14,1,2009
8390,Ord_961,Prod_8,SHP_1330,Cust_350,2575.0100,0.09,27,231.46,19.99,0.52,...,10,2010,MICHAEL GRANLUND,BRITISH COLUMBIA,WEST,HOME OFFICE,REGULAR AIR,2010-01-11,1,2010
8391,Ord_4350,Prod_8,SHP_6065,Cust_1476,82.7200,0.08,6,-29.71,1.99,0.49,...,5,2010,ROLAND FJELD,YUKON,YUKON,CORPORATE,REGULAR AIR,2010-05-26,5,2010
8392,Ord_4567,Prod_8,SHP_6355,Cust_1476,925.4300,0.00,28,368.86,1.99,0.42,...,1,2012,ROLAND FJELD,YUKON,YUKON,CORPORATE,REGULAR AIR,2012-03-09,3,2012
8393,Ord_943,Prod_8,SHP_1304,Cust_337,38.9900,0.09,23,-33.52,1.99,0.51,...,1,2011,SALLY MATTHIAS,BRITISH COLUMBIA,WEST,HOME OFFICE,REGULAR AIR,2011-01-15,1,2011
8394,Ord_973,Prod_8,SHP_1343,Cust_357,29.0500,0.08,4,-20.90,4.32,0.64,...,12,2010,THEONE PIPPENGER,BRITISH COLUMBIA,WEST,CORPORATE,EXPRESS AIR,2010-10-13,10,2010
8395,Ord_1832,Prod_8,SHP_2526,Cust_636,57.0300,0.00,7,-31.38,3.52,0.68,...,10,2009,TOM PRESCOTT,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,REGULAR AIR,2009-10-06,10,2009
8396,Ord_2010,Prod_8,SHP_2748,Cust_760,282.5800,0.10,36,21.68,1.99,0.52,...,12,2011,TRACY PODDAR,NOVA SCOTIA,ATLANTIC,CORPORATE,EXPRESS AIR,2011-12-30,12,2011
8397,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.3500,0.09,47,2787.59,24.49,0.46,...,8,2012,BECKY MARTIN,ONTARIO,ONTARIO,HOME OFFICE,REGULAR AIR,2012-08-28,8,2012
8398,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.6100,0.02,3,196.08,24.49,0.41,...,6,2011,LYCORIS SAUNDERS,ONTARIO,ONTARIO,HOME OFFICE,REGULAR AIR,2011-06-21,6,2011

In [480]:
# check the number of rows and columns in comb_data.
comb_data.shape

(8399, 25)

In [481]:
# In the comb_data check the value counts for "Ship_Year"
comb_data.Ship_Year.value_counts()

2009    2141
2010    2134
2012    2112
2011    2012
Name: Ship_Year, dtype: int64

In [483]:
# In which Year the customer have Highest no of Shippings
comb_data.Ship_Year.value_counts().argmax()

C:\Users\Deepak\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

2009

In [485]:
comb_data.Ship_Year.value_counts().argmax()

C:\Users\Deepak\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

2009

In [486]:
# In the comb_data check the value counts for Ship_Month
comb_data.Ship_Month.value_counts()

5     772
12    731
8     730
9     720
7     706
11    703
3     695
1     684
6     682
4     674
10    665
2     637
Name: Ship_Month, dtype: int64

In [487]:
# In which Month the customer have Highest no of Shippings
comb_data.Ship_Year.value_counts().argmax()

C:\Users\Deepak\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

2009

In [488]:
# Create a new columns "Duration" which the diffenence b/n Ship_Date and Order_Date 
comb_data['Duration']=comb_data['Ship_Date']-comb_data['Order_Date']
comb_data['Duration']

0         1 days
1         0 days
2         1 days
3        31 days
4        61 days
5       212 days
6         2 days
7         6 days
8        31 days
9         1 days
10        3 days
11       31 days
12     -234 days
13       62 days
14       28 days
15        1 days
16       30 days
17       61 days
18        1 days
19        1 days
20        3 days
21        0 days
22       28 days
23       28 days
24       28 days
25        2 days
26        2 days
27       28 days
28       28 days
29        0 days
          ...
8369     31 days
8370     31 days
8371     89 days
8372     61 days
8373      2 days
8374   -115 days
8375      0 days
8376    153 days
8377     31 days
8378     60 days
8379     29 days
8380      0 days
8381      1 days
8382   -200 days
8383     31 days
8384      2 days
8385      1 days
8386      2 days
8387      2 days
8388      2 days
8389   -321 days
8390   -287 days
8391      2 days
8392     60 days
8393      2 days
8394    -58 days
8395      0 days
8396      0 days
8397      0 days
8398      7 days
Name: Duration, Length: 8399, dtype: timedelta64[ns]

In [490]:
comb_data.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin',
       'Product_Category', 'Product_Sub_Category', 'Order_ID', 'Order_Date',
       'Order_Priority', 'Order_Month', 'Order_Year', 'Customer_Name',
       'Province', 'Region', 'Customer_Segment', 'Ship_Mode', 'Ship_Date',
       'Ship_Month', 'Ship_Year', 'Duration'],
      dtype='object')

# master csv

In [491]:
data=pd.read_csv('C:\\Users\\Deepak\\Desktop\\all doc\\problem solving and programming\\data\\global_sales_data\\master.csv')
data

,Unnamed: 0,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,...,Customer_Name,Province,Region,Customer_Segment,Order_ID_y,Ship_Mode,Ship_Date,Ship_Month,Ship_Year,Duration
0,0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,REGULAR AIR,2010-07-28,7,2010,1 days 00:00:00.000000000
1,1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,EXPRESS AIR,2010-07-27,7,2010,0 days 00:00:00.000000000
2,2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,EXPRESS AIR,2010-07-28,7,2010,1 days 00:00:00.000000000
3,3,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,20513,EXPRESS AIR,2009-08-07,8,2009,31 days 00:00:00.000000000
4,4,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,39682,EXPRESS AIR,2010-11-11,11,2010,61 days 00:00:00.000000000
5,5,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,54019,DELIVERY TRUCK,2009-08-07,8,2009,212 days 00:00:00.000000000
6,6,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,...,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,37863,REGULAR AIR,2011-02-26,2,2011,2 days 00:00:00.000000000
7,7,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.8200,0.05,35,-17.58,3.98,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,53026,REGULAR AIR,2012-03-03,3,2012,6 days 00:00:00.000000000
8,8,Ord_5430,Prod_4,SHP_7588,Cust_1820,337.2035,0.09,9,-120.93,4.99,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,31399,REGULAR AIR,2011-06-11,6,2011,31 days 00:00:00.000000000
9,9,Ord_5462,Prod_4,SHP_7632,Cust_1820,175.8565,0.03,10,-93.26,1.25,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,40838,REGULAR AIR,2012-11-27,11,2012,1 days 00:00:00.000000000
10,10,Ord_5462,Prod_5,SHP_7631,Cust_1820,323.9600,0.07,40,-136.82,7.96,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,40838,REGULAR AIR,2012-11-29,11,2012,3 days 00:00:00.000000000
11,11,Ord_5489,Prod_17,SHP_7671,Cust_1820,754.9200,0.00,7,-129.57,19.99,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,56706,REGULAR AIR,2009-11-11,11,2009,31 days 00:00:00.000000000
12,12,Ord_5481,Prod_15,SHP_7659,Cust_1820,2700.7800,0.06,29,-793.36,58.20,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,52230,DELIVERY TRUCK,2012-01-09,1,2012,-234 days +00:00:00.000000000
13,13,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.0800,0.04,34,61.57,3.14,...,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,36992,EXPRESS AIR,2009-09-12,9,2009,62 days 00:00:00.000000000
14,14,Ord_3731,Prod_13,SHP_5176,Cust_1314,193.7000,0.06,20,-14.99,4.82,...,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,38596,REGULAR AIR,2010-03-04,3,2010,28 days 00:00:00.000000000
15,15,Ord_3733,Prod_4,SHP_5178,Cust_1314,553.3415,0.08,33,-67.71,0.99,...,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,41186,REGULAR AIR,2010-11-23,11,2010,1 days 00:00:00.000000000
16,16,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.2100,0.06,24,-78.64,6.14,...,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,13920,REGULAR AIR,2009-10-10,10,2009,30 days 00:00:00.000000000
17,17,Ord_4143,Prod_6,SHP_5770,Cust_1417,901.3200,0.10,25,338.01,5.08,...,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,13920,EXPRESS AIR,2009-11-10,11,2009,61 days 00:00:00.000000000
18,18,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.0900,0.09,9,-13.53,3.37,...,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,55554,REGULAR AIR,2009-11-17,11,2009,1 days 00:00:00.000000000
19,19,Ord_4796,Prod_6,SHP_6686,Cust_1659,122.0900,0.04,6,-15.20,9.54,...,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,55554,REGULAR AIR,2009-11-17,11,2009,1 days 00:00:00.000000000
20,20,Ord_4796,Prod_13,SHP_6687,Cust_1659,150.0600,0.02,49,30.97,0.70,...,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,55554,REGULAR AIR,2009-11-19,11,2009,3 days 00:00:00.000000000
21,21,Ord_4830,Prod_6,SHP_6731,Cust_1659,158.9100,0.06,24,-38.57,5.20,...,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,59363,REGULAR AIR,2009-02-05,2,2009,0 days 00:00:00.000000000
22,22,Ord_1854,Prod_16,SHP_2548,Cust_727,182.4700,0.05,17,-3.18,3.37,...,AMY COX,NOVA SCOTIA,ATLANTIC,SMALL BUSINESS,48455,REGULAR AIR,2009-03-06,3,2009,28 days 00:00:00.000000000
23,23,Ord_1854,Prod_6,SHP_2548,Cust_622,817.5300,0.03,34,76.63,11.54,...,AMY COX,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,48455,REGULAR AIR,2009-03-06,3,2009,28 days 00:00:00.000000000
24,24,Ord_1854,Prod_17,SHP_2548,Cust_564,25.9600,0.06,2,-29.29,6.24,...,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,48455,REGULAR AIR,2009-03-06,3,2009,28 days 00:00:00.000000000
25,25,Ord_1814,Prod_13,SHP_2507,Cust_622,81.9000,0.01,27,4.06,0.96,...,AMY COX,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,21890,REGULAR AIR,2011-01-26,1,2011,2 days 00:00:00.000000000
26,26,Ord_1814,Prod_9,SHP_2507,Cust_1550,495.5000,0.06,44,-12.67,6.97,...,AMY COX,YUKON,YUKON,SMALL BUSINESS,21890,REGULAR AIR,2011-01-26,1,2011,2 days 00:00:00.000000000
27,27,Ord_2957,Prod_13,SHP_4078,Cust_564,65.1200,0.07,38,1.42,1.00,...,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,54151,REGULAR AIR,2009-03-09,3,2009,28 days 00:00:00.000000000
28,28,Ord_2957,Prod_6,SHP_4078,Cust_564,205.8700,0.03,35,65.88,1.46,...,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,54151,REGULAR AIR,2009-03-09,3,2009,28 days 00:00:00.000000000
29,29,Ord_2991,Prod_13,SHP_4136,Cust_564,193.2500,0.03,19,71.55,1.09,...,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,25536,REGULAR AIR,2011-07-22,7,2011,0 days 00:00:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8369,8369,Ord_1035,Prod_1,SHP_1429,Cust_394,4754.0800,0.00,21,299.88,28.66,...,ROBERT WALDORF,MANITOBA,PRARIE,HOME OFFICE,2823,DELIVERY TRUCK,2011-09-09,9,2011,31 days 00:00:00.000000000
8370,8370,Ord_1035,Prod_8,SHP_1428,Cust_394,357.4300,0.08,17,-135.98,6.50,...,ROBERT WALDORF,MANITOBA,PRARIE,HOME OFFICE,2823,REGULAR AIR,2011-09-09,9,2011,31 days 00:00:00.000000000
8371,8371,Ord_994,Prod_1,SHP_1375,Cust_369,11103.7500,0.10,32,-522.59,99.00,...,SEAN WENDT,MANITOBA,PRARIE,CORPORATE,48480,DELIVERY TRUCK,2010-05-01,5,2010,89 days 00:00:00.000000000
8372,8372,Ord_3944,Prod_1,SHP_5482,Cust_1363,294.9100,0.03,23,-37.27,6.27,...,TRACY HOPKINS,SASKACHEWAN,PRARIE,SMALL BUSINESS,9095,REGULAR AIR,2011-12-06,12,2011,61 days 00:00:00.000000000
8373,8373,Ord_2987,Prod_8,SHP_4127,Cust_1101,990.7300,0.02,30,56.39,4.00,...,ALEJANDRO SAVELY,ONTARIO,ONTARIO,CORPORATE,13125,EXPRESS AIR,2010-12-15,12,2010,2 days 00:00:00.000000000
8374,8374,Ord_4538,Prod_8,SHP_6317,Cust_1552,105.1300,0.08,4,-103.23,4.00,...,ALLEN ARMOLD,YUKON,YUKON,HOME OFFICE,22850,REGULAR AIR,2011-01-05,1,2011,-115 days +00:00:00.000000000
8375,8375,Ord_4388,Prod_8,SHP_6118,Cust_1501,448.2300,0.01,26,110.60,4.00,...,ANNE MCFARLAND,YUKON,YUKON,CONSUMER,6564,REGULAR AIR,2011-01-21,1,2011,0 days 00:00:00.000000000
8376,8376,Ord_2114,Prod_8,SHP_2890,Cust_806,195.8300,0.04,24,10.79,1.99,...,BART PISTOLE,QUEBEC,QUEBEC,CONSUMER,19111,REGULAR AIR,2009-09-10,9,2009,153 days 00:00:00.000000000
8377,8377,Ord_464,Prod_8,SHP_623,Cust_165,638.7200,0.04,20,-130.88,5.50,...,CHUCK MAGEE,MANITOBA,PRARIE,CORPORATE,50784,REGULAR AIR,2012-11-02,11,2012,31 days 00:00:00.000000000
8378,8378,Ord_4566,Prod_8,SHP_6353,Cust_1515,676.6900,0.09,21,138.10,1.99,...,CYRA REITEN,YUKON,YUKON,CONSUMER,25476,REGULAR AIR,2012-04-10,4,2012,60 days 00:00:00.000000000
8379,8379,Ord_4566,Prod_14,SHP_6354,Cust_1515,13698.9600,0.05,4,-9078.94,24.49,...,CYRA REITEN,YUKON,YUKON,CONSUMER,25476,REGULAR AIR,2012-03-10,3,2012,29 days 00:00:00.000000000
8380,8380,Ord_4412,Prod_8,SHP_6149,Cust_1515,268.5500,0.10,36,-99.02,2.83,...,CYRA REITEN,YUKON,YUKON,CONSUMER,9093,REGULAR AIR,2011-09-12,9,2011,0 days 00:00:00.000000000
8381,8381,Ord_2980,Prod_8,SHP_4114,Cust_1091,1854.9400,0.04,6,-559.78,7.18,...,DIANNA WILSON,ONTARIO,ONTARIO,SMALL BUSINESS,49989,REGULAR AIR,2010-04-27,4,2010,1 days 00:00:00.000000000
8382,8382,Ord_2995,Prod_8,SHP_4143,Cust_1113,677.9000,0.05,20,196.36,1.99,...,ELENI MCCRARY,ONTARIO,ONTARIO,CORPORATE,31239,REGULAR AIR,2010-02-09,2,2010,-200 days +00:00:00.000000000
8383,8383,Ord_2992,Prod_8,SHP_4139,Cust_1110,1177.5000,0.02,34,420.05,1.99,...,GIULIETTA DORTCH,ONTARIO,ONTARIO,CORPORATE,28999,REGULAR AIR,2009-11-01,11,2009,31 days 00:00:00.000000000
8384,8384,Ord_24,Prod_8,SHP_32,Cust_19,1078.4900,0.08,27,252.66,1.99,...,JACK GARZA,NUNAVUT,NUNAVUT,CORPORATE,2631,REGULAR AIR,2010-09-25,9,2010,2 days 00:00:00.000000000
8385,8385,Ord_1860,Prod_8,SHP_2554,Cust_654,2925.7800,0.03,29,1041.29,7.18,...,JANET MARTIN,NEWFOUNDLAND,ATLANTIC,CORPORATE,55940,REGULAR AIR,2009-04-30,4,2009,1 days 00:00:00.000000000
8386,8386,Ord_1016,Prod_8,SHP_1406,Cust_383,138.0500,0.09,19,-100.49,5.53,...,KEN HEIDEL,MANITOBA,PRARIE,CORPORATE,52868,REGULAR AIR,2011-02-18,2,2011,2 days 00:00:00.000000000
8387,8387,Ord_3676,Prod_8,SHP_5095,Cust_1294,1008.1900,0.03,23,210.01,1.99,...,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER,37603,REGULAR AIR,2010-11-26,11,2010,2 days 00:00:00.000000000
8388,8388,Ord_3676,Prod_8,SHP_5095,Cust_1294,2440.2600,0.00,50,917.28,1.99,...,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER,37603,REGULAR AIR,2010-11-26,11,2010,2 days 00:00:00.000000000
8389,8389,Ord_3665,Prod_8,SHP_5080,Cust_1294,401.1400,0.10,10,-131.03,6.50,...,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER,27813,REGULAR AIR,2009-01-14,1,2009,-321 days +00:00:00.000000000
8390,8390,Ord_961,Prod_8,SHP_1330,Cust_350,2575.0100,0.09,27,231.46,19.99,...,MICHAEL GRANLUND,BRITISH COLUMBIA,WEST,HOME OFFICE,35522,REGULAR AIR,2010-01-11,1,2010,-287 days +00:00:00.000000000
8391,8391,Ord_4350,Prod_8,SHP_6065,Cust_1476,82.7200,0.08,6,-29.71,1.99,...,ROLAND FJELD,YUKON,YUKON,CORPORATE,2535,REGULAR AIR,2010-05-26,5,2010,2 days 00:00:00.000000000
8392,8392,Ord_4567,Prod_8,SHP_6355,Cust_1476,925.4300,0.00,28,368.86,1.99,...,ROLAND FJELD,YUKON,YUKON,CORPORATE,25797,REGULAR AIR,2012-03-09,3,2012,60 days 00:00:00.000000000
8393,8393,Ord_943,Prod_8,SHP_1304,Cust_337,38.9900,0.09,23,-33.52,1.99,...,SALLY MATTHIAS,BRITISH COLUMBIA,WEST,HOME OFFICE,29409,REGULAR AIR,2011-01-15,1,2011,2 days 00:00:00.000000000
8394,8394,Ord_973,Prod_8,SHP_1343,Cust_357,29.0500,0.08,4,-20.90,4.32,...,THEONE PIPPENGER,BRITISH COLUMBIA,WEST,CORPORATE,40259,EXPRESS AIR,2010-10-13,10,2010,-58 days +00:00:00.000000000
8395,8395,Ord_1832,Prod_8,SHP_2526,Cust_636,57.0300,0.00,7,-31.38,3.52,...,TOM PRESCOTT,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,36230,REGULAR AIR,2009-10-06,10,2009,0 days 00:00:00.000000000
8396,8396,Ord_2010,Prod_8,SHP_2748,Cust_760,282.5800,0.10,36,21.68,1.99,...,TRACY PODDAR,NOVA SCOTIA,ATLANTIC,CORPORATE,18534,EXPRESS AIR,2011-12-30,12,2011,0 days 00:00:00.000000000
8397,8397,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.3500,0.09,47,2787.59,24.49,...,BECKY MARTIN,ONTARIO,ONTARIO,HOME OFFICE,23616,REGULAR AIR,2012-08-28,8,2012,0 days 00:00:00.000000000
8398,8398,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.6100,0.02,3,196.08,24.49,...,LYCORIS SAUNDERS,ONTARIO,ONTARIO,HOME OFFICE,38693,REGULAR AIR,2011-06-21,6,2011,7 days 00:00:00.000000000

In [492]:
data.shape

(8399, 28)

In [493]:
data.columns

Index(['Unnamed: 0', 'Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales',
       'Discount', 'Order_Quantity', 'Profit', 'Shipping_Cost',
       'Product_Base_Margin', 'Product_Category', 'Product_Sub_Category',
       'Order_ID_x', 'Order_Date', 'Order_Priority', 'Order_Month',
       'Order_Year', 'Customer_Name', 'Province', 'Region', 'Customer_Segment',
       'Order_ID_y', 'Ship_Mode', 'Ship_Date', 'Ship_Month', 'Ship_Year',
       'Duration'],
      dtype='object')

In [494]:
data.drop('Unnamed: 0',axis=1,inplace=True)
data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Customer_Name,Province,Region,Customer_Segment,Order_ID_y,Ship_Mode,Ship_Date,Ship_Month,Ship_Year,Duration
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,REGULAR AIR,2010-07-28,7,2010,1 days 00:00:00.000000000
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,EXPRESS AIR,2010-07-27,7,2010,0 days 00:00:00.000000000
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,36262,EXPRESS AIR,2010-07-28,7,2010,1 days 00:00:00.000000000
3,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,20513,EXPRESS AIR,2009-08-07,8,2009,31 days 00:00:00.000000000
4,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,39682,EXPRESS AIR,2010-11-11,11,2010,61 days 00:00:00.000000000
5,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,...,AARON BERGMAN,ALBERTA,WEST,CORPORATE,54019,DELIVERY TRUCK,2009-08-07,8,2009,212 days 00:00:00.000000000
6,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57,...,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE,37863,REGULAR AIR,2011-02-26,2,2011,2 days 00:00:00.000000000
7,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.8200,0.05,35,-17.58,3.98,0.56,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,53026,REGULAR AIR,2012-03-03,3,2012,6 days 00:00:00.000000000
8,Ord_5430,Prod_4,SHP_7588,Cust_1820,337.2035,0.09,9,-120.93,4.99,0.56,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,31399,REGULAR AIR,2011-06-11,6,2011,31 days 00:00:00.000000000
9,Ord_5462,Prod_4,SHP_7632,Cust_1820,175.8565,0.03,10,-93.26,1.25,0.83,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,40838,REGULAR AIR,2012-11-27,11,2012,1 days 00:00:00.000000000
10,Ord_5462,Prod_5,SHP_7631,Cust_1820,323.9600,0.07,40,-136.82,7.96,0.49,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,40838,REGULAR AIR,2012-11-29,11,2012,3 days 00:00:00.000000000
11,Ord_5489,Prod_17,SHP_7671,Cust_1820,754.9200,0.00,7,-129.57,19.99,0.52,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,56706,REGULAR AIR,2009-11-11,11,2009,31 days 00:00:00.000000000
12,Ord_5481,Prod_15,SHP_7659,Cust_1820,2700.7800,0.06,29,-793.36,58.20,0.58,...,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER,52230,DELIVERY TRUCK,2012-01-09,1,2012,-234 days +00:00:00.000000000
13,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.0800,0.04,34,61.57,3.14,0.60,...,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,36992,EXPRESS AIR,2009-09-12,9,2009,62 days 00:00:00.000000000
14,Ord_3731,Prod_13,SHP_5176,Cust_1314,193.7000,0.06,20,-14.99,4.82,0.47,...,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,38596,REGULAR AIR,2010-03-04,3,2010,28 days 00:00:00.000000000
15,Ord_3733,Prod_4,SHP_5178,Cust_1314,553.3415,0.08,33,-67.71,0.99,0.83,...,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,41186,REGULAR AIR,2010-11-23,11,2010,1 days 00:00:00.000000000
16,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.2100,0.06,24,-78.64,6.14,0.59,...,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,13920,REGULAR AIR,2009-10-10,10,2009,30 days 00:00:00.000000000
17,Ord_4143,Prod_6,SHP_5770,Cust_1417,901.3200,0.10,25,338.01,5.08,0.38,...,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,13920,EXPRESS AIR,2009-11-10,11,2009,61 days 00:00:00.000000000
18,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.0900,0.09,9,-13.53,3.37,0.57,...,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,55554,REGULAR AIR,2009-11-17,11,2009,1 days 00:00:00.000000000
19,Ord_4796,Prod_6,SHP_6686,Cust_1659,122.0900,0.04,6,-15.20,9.54,0.37,...,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,55554,REGULAR AIR,2009-11-17,11,2009,1 days 00:00:00.000000000
20,Ord_4796,Prod_13,SHP_6687,Cust_1659,150.0600,0.02,49,30.97,0.70,0.56,...,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,55554,REGULAR AIR,2009-11-19,11,2009,3 days 00:00:00.000000000
21,Ord_4830,Prod_6,SHP_6731,Cust_1659,158.9100,0.06,24,-38.57,5.20,0.37,...,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS,59363,REGULAR AIR,2009-02-05,2,2009,0 days 00:00:00.000000000
22,Ord_1854,Prod_16,SHP_2548,Cust_727,182.4700,0.05,17,-3.18,3.37,0.57,...,AMY COX,NOVA SCOTIA,ATLANTIC,SMALL BUSINESS,48455,REGULAR AIR,2009-03-06,3,2009,28 days 00:00:00.000000000
23,Ord_1854,Prod_6,SHP_2548,Cust_622,817.5300,0.03,34,76.63,11.54,0.39,...,AMY COX,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,48455,REGULAR AIR,2009-03-06,3,2009,28 days 00:00:00.000000000
24,Ord_1854,Prod_17,SHP_2548,Cust_564,25.9600,0.06,2,-29.29,6.24,0.36,...,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,48455,REGULAR AIR,2009-03-06,3,2009,28 days 00:00:00.000000000
25,Ord_1814,Prod_13,SHP_2507,Cust_622,81.9000,0.01,27,4.06,0.96,0.58,...,AMY COX,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,21890,REGULAR AIR,2011-01-26,1,2011,2 days 00:00:00.000000000
26,Ord_1814,Prod_9,SHP_2507,Cust_1550,495.5000,0.06,44,-12.67,6.97,0.35,...,AMY COX,YUKON,YUKON,SMALL BUSINESS,21890,REGULAR AIR,2011-01-26,1,2011,2 days 00:00:00.000000000
27,Ord_2957,Prod_13,SHP_4078,Cust_564,65.1200,0.07,38,1.42,1.00,0.35,...,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,54151,REGULAR AIR,2009-03-09,3,2009,28 days 00:00:00.000000000
28,Ord_2957,Prod_6,SHP_4078,Cust_564,205.8700,0.03,35,65.88,1.46,0.39,...,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,54151,REGULAR AIR,2009-03-09,3,2009,28 days 00:00:00.000000000
29,Ord_2991,Prod_13,SHP_4136,Cust_564,193.2500,0.03,19,71.55,1.09,0.43,...,AMY COX,ONTARIO,ONTARIO,SMALL BUSINESS,25536,REGULAR AIR,2011-07-22,7,2011,0 days 00:00:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8369,Ord_1035,Prod_1,SHP_1429,Cust_394,4754.0800,0.00,21,299.88,28.66,0.72,...,ROBERT WALDORF,MANITOBA,PRARIE,HOME OFFICE,2823,DELIVERY TRUCK,2011-09-09,9,2011,31 days 00:00:00.000000000
8370,Ord_1035,Prod_8,SHP_1428,Cust_394,357.4300,0.08,17,-135.98,6.50,0.78,...,ROBERT WALDORF,MANITOBA,PRARIE,HOME OFFICE,2823,REGULAR AIR,2011-09-09,9,2011,31 days 00:00:00.000000000
8371,Ord_994,Prod_1,SHP_1375,Cust_369,11103.7500,0.10,32,-522.59,99.00,0.65,...,SEAN WENDT,MANITOBA,PRARIE,CORPORATE,48480,DELIVERY TRUCK,2010-05-01,5,2010,89 days 00:00:00.000000000
8372,Ord_3944,Prod_1,SHP_5482,Cust_1363,294.9100,0.03,23,-37.27,6.27,0.57,...,TRACY HOPKINS,SASKACHEWAN,PRARIE,SMALL BUSINESS,9095,REGULAR AIR,2011-12-06,12,2011,61 days 00:00:00.000000000
8373,Ord_2987,Prod_8,SHP_4127,Cust_1101,990.7300,0.02,30,56.39,4.00,0.75,...,ALEJANDRO SAVELY,ONTARIO,ONTARIO,CORPORATE,13125,EXPRESS AIR,2010-12-15,12,2010,2 days 00:00:00.000000000
8374,Ord_4538,Prod_8,SHP_6317,Cust_1552,105.1300,0.08,4,-103.23,4.00,0.75,...,ALLEN ARMOLD,YUKON,YUKON,HOME OFFICE,22850,REGULAR AIR,2011-01-05,1,2011,-115 days +00:00:00.000000000
8375,Ord_4388,Prod_8,SHP_6118,Cust_1501,448.2300,0.01,26,110.60,4.00,0.37,...,ANNE MCFARLAND,YUKON,YUKON,CONSUMER,6564,REGULAR AIR,2011-01-21,1,2011,0 days 00:00:00.000000000
8376,Ord_2114,Prod_8,SHP_2890,Cust_806,195.8300,0.04,24,10.79,1.99,0.52,...,BART PISTOLE,QUEBEC,QUEBEC,CONSUMER,19111,REGULAR AIR,2009-09-10,9,2009,153 days 00:00:00.000000000
8377,Ord_464,Prod_8,SHP_623,Cust_165,638.7200,0.04,20,-130.88,5.50,0.75,...,CHUCK MAGEE,MANITOBA,PRARIE,CORPORATE,50784,REGULAR AIR,2012-11-02,11,2012,31 days 00:00:00.000000000
8378,Ord_4566,Prod_8,SHP_6353,Cust_1515,676.6900,0.09,21,138.10,1.99,0.43,...,CYRA REITEN,YUKON,YUKON,CONSUMER,25476,REGULAR AIR,2012-04-10,4,2012,60 days 00:00:00.000000000
8379,Ord_4566,Prod_14,SHP_6354,Cust_1515,13698.9600,0.05,4,-9078.94,24.49,0.37,...,CYRA REITEN,YUKON,YUKON,CONSUMER,25476,REGULAR AIR,2012-03-10,3,2012,29 days 00:00:00.000000000
8380,Ord_4412,Prod_8,SHP_6149,Cust_1515,268.5500,0.10,36,-99.02,2.83,0.77,...,CYRA REITEN,YUKON,YUKON,CONSUMER,9093,REGULAR AIR,2011-09-12,9,2011,0 days 00:00:00.000000000
8381,Ord_2980,Prod_8,SHP_4114,Cust_1091,1854.9400,0.04,6,-559.78,7.18,0.48,...,DIANNA WILSON,ONTARIO,ONTARIO,SMALL BUSINESS,49989,REGULAR AIR,2010-04-27,4,2010,1 days 00:00:00.000000000
8382,Ord_2995,Prod_8,SHP_4143,Cust_1113,677.9000,0.05,20,196.36,1.99,0.45,...,ELENI MCCRARY,ONTARIO,ONTARIO,CORPORATE,31239,REGULAR AIR,2010-02-09,2,2010,-200 days +00:00:00.000000000
8383,Ord_2992,Prod_8,SHP_4139,Cust_1110,1177.5000,0.02,34,420.05,1.99,0.45,...,GIULIETTA DORTCH,ONTARIO,ONTARIO,CORPORATE,28999,REGULAR AIR,2009-11-01,11,2009,31 days 00:00:00.000000000
8384,Ord_24,Prod_8,SHP_32,Cust_19,1078.4900,0.08,27,252.66,1.99,0.55,...,JACK GARZA,NUNAVUT,NUNAVUT,CORPORATE,2631,REGULAR AIR,2010-09-25,9,2010,2 days 00:00:00.000000000
8385,Ord_1860,Prod_8,SHP_2554,Cust_654,2925.7800,0.03,29,1041.29,7.18,0.40,...,JANET MARTIN,NEWFOUNDLAND,ATLANTIC,CORPORATE,55940,REGULAR AIR,2009-04-30,4,2009,1 days 00:00:00.000000000
8386,Ord_1016,Prod_8,SHP_1406,Cust_383,138.0500,0.09,19,-100.49,5.53,0.69,...,KEN HEIDEL,MANITOBA,PRARIE,CORPORATE,52868,REGULAR AIR,2011-02-18,2,2011,2 days 00:00:00.000000000
8387,Ord_3676,Prod_8,SHP_5095,Cust_1294,1008.1900,0.03,23,210.01,1.99,0.55,...,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER,37603,REGULAR AIR,2010-11-26,11,2010,2 days 00:00:00.000000000
8388,Ord_3676,Prod_8,SHP_5095,Cust_1294,2440.2600,0.00,50,917.28,1.99,0.55,...,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER,37603,REGULAR AIR,2010-11-26,11,2010,2 days 00:00:00.000000000
8389,Ord_3665,Prod_8,SHP_5080,Cust_1294,401.1400,0.10,10,-131.03,6.50,0.74,...,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER,27813,REGULAR AIR,2009-01-14,1,2009,-321 days +00:00:00.000000000
8390,Ord_961,Prod_8,SHP_1330,Cust_350,2575.0100,0.09,27,231.46,19.99,0.52,...,MICHAEL GRANLUND,BRITISH COLUMBIA,WEST,HOME OFFICE,35522,REGULAR AIR,2010-01-11,1,2010,-287 days +00:00:00.000000000
8391,Ord_4350,Prod_8,SHP_6065,Cust_1476,82.7200,0.08,6,-29.71,1.99,0.49,...,ROLAND FJELD,YUKON,YUKON,CORPORATE,2535,REGULAR AIR,2010-05-26,5,2010,2 days 00:00:00.000000000
8392,Ord_4567,Prod_8,SHP_6355,Cust_1476,925.4300,0.00,28,368.86,1.99,0.42,...,ROLAND FJELD,YUKON,YUKON,CORPORATE,25797,REGULAR AIR,2012-03-09,3,2012,60 days 00:00:00.000000000
8393,Ord_943,Prod_8,SHP_1304,Cust_337,38.9900,0.09,23,-33.52,1.99,0.51,...,SALLY MATTHIAS,BRITISH COLUMBIA,WEST,HOME OFFICE,29409,REGULAR AIR,2011-01-15,1,2011,2 days 00:00:00.000000000
8394,Ord_973,Prod_8,SHP_1343,Cust_357,29.0500,0.08,4,-20.90,4.32,0.64,...,THEONE PIPPENGER,BRITISH COLUMBIA,WEST,CORPORATE,40259,EXPRESS AIR,2010-10-13,10,2010,-58 days +00:00:00.000000000
8395,Ord_1832,Prod_8,SHP_2526,Cust_636,57.0300,0.00,7,-31.38,3.52,0.68,...,TOM PRESCOTT,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,36230,REGULAR AIR,2009-10-06,10,2009,0 days 00:00:00.000000000
8396,Ord_2010,Prod_8,SHP_2748,Cust_760,282.5800,0.10,36,21.68,1.99,0.52,...,TRACY PODDAR,NOVA SCOTIA,ATLANTIC,CORPORATE,18534,EXPRESS AIR,2011-12-30,12,2011,0 days 00:00:00.000000000
8397,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.3500,0.09,47,2787.59,24.49,0.46,...,BECKY MARTIN,ONTARIO,ONTARIO,HOME OFFICE,23616,REGULAR AIR,2012-08-28,8,2012,0 days 00:00:00.000000000
8398,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.6100,0.02,3,196.08,24.49,0.41,...,LYCORIS SAUNDERS,ONTARIO,ONTARIO,HOME OFFICE,38693,REGULAR AIR,2011-06-21,6,2011,7 days 00:00:00.000000000

In [495]:
#how much sales is happening in each customer segment
data.Customer_Segment.nunique()

4

In [496]:
data.Customer_Segment.value_counts()

CORPORATE         3076
HOME OFFICE       2032
CONSUMER          1649
SMALL BUSINESS    1642
Name: Customer_Segment, dtype: int64

In [497]:
(data['Sales'][data.Customer_Segment=='CORPORATE'].sum())

5498904.8774999995

In [498]:
segments=data.Customer_Segment.value_counts().index
segments

Index(['CORPORATE', 'HOME OFFICE', 'CONSUMER', 'SMALL BUSINESS'], dtype='object')

In [509]:
# create the pandas series as sum in each
# categrory and index name
Sales_Segments=[]
for segment in segments:
    Sales_Segments.append((data['Sales'][data.Customer_Segment==segment]).sum())
Sales_Segments

[5498904.8774999995, 3564763.875, 3063611.082, 2788320.9895]

In [511]:
Sales_Segments=pd.Series(Sales_Segments,segments)
Sales_Segments

CORPORATE         5.498905e+06
HOME OFFICE       3.564764e+06
CONSUMER          3.063611e+06
SMALL BUSINESS    2.788321e+06
dtype: float64

In [513]:
# findout segmet where it have higest sale
Sales_Segments.idxmax()

'CORPORATE'

In [514]:
data_cust=data.groupby('Customer_Segment')
data_cust.Sales.sum()

Customer_Segment
CONSUMER          3.063611e+06
CORPORATE         5.498905e+06
HOME OFFICE       3.564764e+06
SMALL BUSINESS    2.788321e+06
Name: Sales, dtype: float64

In [515]:
data.groupby('Customer_Segment').Sales.sum()

Customer_Segment
CONSUMER          3.063611e+06
CORPORATE         5.498905e+06
HOME OFFICE       3.564764e+06
SMALL BUSINESS    2.788321e+06
Name: Sales, dtype: float64

In [517]:
data.groupby('Customer_Segment')['Sales'].sum()

Customer_Segment
CONSUMER          3.063611e+06
CORPORATE         5.498905e+06
HOME OFFICE       3.564764e+06
SMALL BUSINESS    2.788321e+06
Name: Sales, dtype: float64

In [518]:
data_cust.Sales.sum().idxmax()

'CORPORATE'

# minimum Sales average in which customer segment

In [519]:
data_cust.Sales.mean().idxmax()

'CONSUMER'

In [521]:
data_cust.mean()
# calculate mean for all numerical value

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Order_ID_x,Order_Month,Order_Year,Order_ID_y,Ship_Month,Ship_Year
Customer_Segment,,,,,,,,,,,,
CONSUMER,1857.859965,0.049903,25.324439,174.627010,13.024748,0.512905,29651.300788,6.588842,2010.428745,29651.300788,6.548211,2010.434203
CORPORATE,1787.680389,0.049841,25.525683,194.975943,12.698911,0.512783,29526.969766,6.560143,2010.500325,29526.969766,6.561118,2010.505202
HOME OFFICE,1754.312931,0.049444,25.987697,156.670290,12.771757,0.513608,30227.655020,6.528051,2010.504429,30227.655020,6.553150,2010.507874
SMALL BUSINESS,1698.124841,0.049403,25.391596,192.270408,12.995840,0.510258,30776.489647,6.709501,2010.476248,30776.489647,6.584653,2010.482948

In [522]:
data_cust.describe()

                   Sales                                                      \
                   count         mean          std   min       25%       50%
Customer_Segment
CONSUMER          1649.0  1857.859965  4112.198248  5.68  143.6670  470.1100
CORPORATE         3076.0  1787.680389  3522.115430  2.24  142.9250  430.9950
HOME OFFICE       2032.0  1754.312931  3395.001930  3.77  154.3225  474.3365
SMALL BUSINESS    1642.0  1698.124841  3356.713118  3.20  134.8775  438.6350

                                      Discount            ... Ship_Month  \
                        75%       max    count      mean  ...        75%
Customer_Segment                                          ...
CONSUMER          1677.2700  89061.05   1649.0  0.049903  ...        9.0
CORPORATE         1734.4125  41343.21   3076.0  0.049841  ...        9.0
HOME OFFICE       1735.8250  45923.76   2032.0  0.049444  ...       10.0
SMALL BUSINESS    1677.8175  33367.85   1642.0  0.049403  ...       10.0

                       Ship_Year                                         \
                   max     count         mean       std     min     25%
Customer_Segment
CONSUMER          12.0    1649.0  2010.434203  1.111805  2009.0  2009.0
CORPORATE         12.0    3076.0  2010.505202  1.133800  2009.0  2009.0
HOME OFFICE       12.0    2032.0  2010.507874  1.122237  2009.0  2010.0
SMALL BUSINESS    12.0    1642.0  2010.482948  1.117699  2009.0  2009.0


                     50%     75%     max
Customer_Segment
CONSUMER          2010.0  2011.0  2012.0
CORPORATE         2010.0  2012.0  2012.0
HOME OFFICE       2011.0  2012.0  2012.0
SMALL BUSINESS    2010.0  2011.0  2012.0

[4 rows x 96 columns]

In [526]:
# in product categroy which we getting max profit
data.groupby('Product_Sub_Category').Profit.sum()

Product_Sub_Category
APPLIANCES                         97158.06
BINDERS AND BINDER ACCESSORIES    307413.39
BOOKCASES                         -33582.13
CHAIRS & CHAIRMATS                149649.73
COMPUTER PERIPHERALS               94287.48
COPIERS AND FAX                   167361.49
ENVELOPES                          48182.60
LABELS                             13677.17
OFFICE FURNISHINGS                100427.93
OFFICE MACHINES                   307712.93
PAPER                              45263.20
PENS & ART SUPPLIES                 7564.78
RUBBER BANDS                        -102.67
SCISSORS, RULERS AND TRIMMERS      -7799.25
STORAGE & ORGANIZATION              6664.15
TABLES                            -99062.50
TELEPHONES AND COMMUNICATION      316951.62
Name: Profit, dtype: float64

In [527]:
data.groupby('Product_Sub_Category').Profit.sum().idxmin()

'TABLES'

In [529]:
data.groupby(['Order_Year','Order_Month']).Sales.sum().min()

183279.70799999996

In [530]:
data.groupby(['Order_Year','Order_Month']).Sales.sum().idxmin()

(2012, 8)

In [532]:
data.groupby(['Product_Category','Product_Sub_Category']).sum()

                                                       Sales  Discount  \
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                        822652.040      9.09
                 CHAIRS & CHAIRMATS              1761836.550     19.42
                 OFFICE FURNISHINGS               698093.810     38.46
                 TABLES                          1896008.142     18.00
OFFICE SUPPLIES  APPLIANCES                       736991.540     21.98
                 BINDERS AND BINDER ACCESSORIES  1022957.590     46.10
                 ENVELOPES                        174085.800     12.02
                 LABELS                            38981.550     14.27
                 PAPER                            446452.860     60.53
                 PENS & ART SUPPLIES              167107.220     32.46
                 RUBBER BANDS                      15006.630      9.22
                 SCISSORS, RULERS AND TRIMMERS     80996.310      7.09
                 STORAGE & ORGANIZATION          1070182.600     27.89
TECHNOLOGY       COMPUTER PERIPHERALS             795875.940     36.82
                 COPIERS AND FAX                 1130361.300      4.48
                 OFFICE MACHINES                 2168697.140     17.02
                 TELEPHONES AND COMMUNICATION    1889313.802     42.34

                                                 Order_Quantity     Profit  \
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                                 4891  -33582.13
                 CHAIRS & CHAIRMATS                        9590  149649.73
                 OFFICE FURNISHINGS                       20648  100427.93
                 TABLES                                    9195  -99062.50
OFFICE SUPPLIES  APPLIANCES                               10901   97158.06
                 BINDERS AND BINDER ACCESSORIES           22992  307413.39
                 ENVELOPES                                 6578   48182.60
                 LABELS                                    7301   13677.17
                 PAPER                                    30871   45263.20
                 PENS & ART SUPPLIES                      16980    7564.78
                 RUBBER BANDS                              4920    -102.67
                 SCISSORS, RULERS AND TRIMMERS             3931   -7799.25
                 STORAGE & ORGANIZATION                   13804    6664.15
TECHNOLOGY       COMPUTER PERIPHERALS                     19222   94287.48
                 COPIERS AND FAX                           2128  167361.49
                 OFFICE MACHINES                           7856  307712.93
                 TELEPHONES AND COMMUNICATION             22969  316951.62

                                                 Shipping_Cost  \
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                             8646.07
                 CHAIRS & CHAIRMATS                   15512.69
                 OFFICE FURNISHINGS                    8402.72
                 TABLES                               20682.21
OFFICE SUPPLIES  APPLIANCES                            6854.11
                 BINDERS AND BINDER ACCESSORIES        6633.52
                 ENVELOPES                             1682.77
                 LABELS                                 288.66
                 PAPER                                 7914.41
                 PENS & ART SUPPLIES                   2041.81
                 RUBBER BANDS                           225.21
                 SCISSORS, RULERS AND TRIMMERS          670.51
                 STORAGE & ORGANIZATION                9784.51
TECHNOLOGY       COMPUTER PERIPHERALS                  4067.34
                 COPIERS AND FAX                       2446.88
                 OFFICE MACHINES                       7135.91
                 TELEPHONES AND COMMUNICATION          4841.71

                                                 Product_Base_Margin  \
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                                    122.09
                 CHAIRS & CHAIRMATS                           228.46
                 OFFICE FURNISHINGS                           414.31
                 TABLES                                       241.91
OFFICE SUPPLIES  APPLIANCES                                   240.64
                 BINDERS AND BINDER ACCESSORIES               342.42
                 ENVELOPES                                     91.97
                 LABELS                                       108.61
                 PAPER                                        458.85
                 PENS & ART SUPPLIES                          337.76
                 RUBBER BANDS                                  95.14
                 SCISSORS, RULERS AND TRIMMERS                 92.23
                 STORAGE & ORGANIZATION                       349.15
TECHNOLOGY       COMPUTER PERIPHERALS                         449.67
                 COPIERS AND FAX                               36.37
                 OFFICE MACHINES                              149.75
                 TELEPHONES AND COMMUNICATION                 512.98

                                                 Order_ID_x  Order_Month  \
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                          5224640         1251
                 CHAIRS & CHAIRMATS                11841788         2583
                 OFFICE FURNISHINGS                23675240         5215
                 TABLES                            11200231         2351
OFFICE SUPPLIES  APPLIANCES                        12602508         2785
                 BINDERS AND BINDER ACCESSORIES    27932832         6125
                 ENVELOPES                          7544439         1624
                 LABELS                             8394476         1860
                 PAPER                             37392811         8098
                 PENS & ART SUPPLIES               18875174         4208
                 RUBBER BANDS                       5807143         1172
                 SCISSORS, RULERS AND TRIMMERS      4290439          882
                 STORAGE & ORGANIZATION            16050823         3524
TECHNOLOGY       COMPUTER PERIPHERALS              22156363         5022
                 COPIERS AND FAX                    2553341          585
                 OFFICE MACHINES                   10350533         2132
                 TELEPHONES AND COMMUNICATION      25784764         5909

                                                 Order_Year  Order_ID_y  \
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                           379967     5224640
                 CHAIRS & CHAIRMATS                  776038    11841788
                 OFFICE FURNISHINGS                 1584246    23675240
                 TABLES                              725794    11200231
OFFICE SUPPLIES  APPLIANCES                          872541    12602508
                 BINDERS AND BINDER ACCESSORIES     1839643    27932832
                 ENVELOPES                           494577     7544439
                 LABELS                              579026     8394476
                 PAPER                              2462829    37392811
                 PENS & ART SUPPLIES                1272630    18875174
                 RUBBER BANDS                        359891     5807143
                 SCISSORS, RULERS AND TRIMMERS       289521     4290439
                 STORAGE & ORGANIZATION             1097712    16050823
TECHNOLOGY       COMPUTER PERIPHERALS               1523944    22156363
                 COPIERS AND FAX                     174909     2553341
                 OFFICE MACHINES                     677511    10350533
                 TELEPHONES AND COMMUNICATION       1775264    25784764

                                                 Ship_Month  Ship_Year
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                             1244     379968
                 CHAIRS & CHAIRMATS                    2453     776042
                 OFFICE FURNISHINGS                    5239    1584246
                 TABLES                                2394     725794
OFFICE SUPPLIES  APPLIANCES                            2875     872543
                 BINDERS AND BINDER ACCESSORIES        6057    1839646
                 ENVELOPES                             1626     494580
                 LABELS                                1839     579027
                 PAPER                                 8011    2462837
                 PENS & ART SUPPLIES                   4114    1272635
                 RUBBER BANDS                          1183     359891
                 SCISSORS, RULERS AND TRIMMERS          924     289521
                 STORAGE & ORGANIZATION                3546    1097713
TECHNOLOGY       COMPUTER PERIPHERALS                  5068    1523948
                 COPIERS AND FAX                        588     174910
                 OFFICE MACHINES                       2157     677511
                 TELEPHONES AND COMMUNICATION          5790    1775273

In [533]:
data.groupby(['Product_Category','Product_Sub_Category'])\
[['Profit','Sales']].sum()

                                                    Profit        Sales
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                       -33582.13   822652.040
                 CHAIRS & CHAIRMATS              149649.73  1761836.550
                 OFFICE FURNISHINGS              100427.93   698093.810
                 TABLES                          -99062.50  1896008.142
OFFICE SUPPLIES  APPLIANCES                       97158.06   736991.540
                 BINDERS AND BINDER ACCESSORIES  307413.39  1022957.590
                 ENVELOPES                        48182.60   174085.800
                 LABELS                           13677.17    38981.550
                 PAPER                            45263.20   446452.860
                 PENS & ART SUPPLIES               7564.78   167107.220
                 RUBBER BANDS                      -102.67    15006.630
                 SCISSORS, RULERS AND TRIMMERS    -7799.25    80996.310
                 STORAGE & ORGANIZATION            6664.15  1070182.600
TECHNOLOGY       COMPUTER PERIPHERALS             94287.48   795875.940
                 COPIERS AND FAX                 167361.49  1130361.300
                 OFFICE MACHINES                 307712.93  2168697.140
                 TELEPHONES AND COMMUNICATION    316951.62  1889313.802

# Create a new column in profitable with values True or false by checking whether the valueis +ve or -ve

In [543]:
data['is_profitable']=data['Profit']>0
data['is_profitable']

0       False
1        True
2       False
3        True
4        True
5        True
6        True
7       False
8       False
9       False
10      False
11      False
12      False
13       True
14      False
15      False
16      False
17       True
18      False
19      False
20       True
21      False
22      False
23       True
24      False
25       True
26      False
27       True
28       True
29       True
        ...
8369     True
8370    False
8371    False
8372    False
8373     True
8374    False
8375     True
8376     True
8377    False
8378     True
8379    False
8380    False
8381    False
8382     True
8383     True
8384     True
8385     True
8386    False
8387     True
8388     True
8389    False
8390     True
8391    False
8392     True
8393    False
8394    False
8395    False
8396     True
8397     True
8398     True
Name: is_profitable, Length: 8399, dtype: bool

In [546]:
data['is_profitable'][:5]

0    False
1     True
2    False
3     True
4     True
Name: is_profitable, dtype: bool

In [548]:
def is_profitable(x):
    return x>0

In [549]:
data['Profit'].apply(is_profitable)

0       False
1        True
2       False
3        True
4        True
5        True
6        True
7       False
8       False
9       False
10      False
11      False
12      False
13       True
14      False
15      False
16      False
17       True
18      False
19      False
20       True
21      False
22      False
23       True
24      False
25       True
26      False
27       True
28       True
29       True
        ...
8369     True
8370    False
8371    False
8372    False
8373     True
8374    False
8375     True
8376     True
8377    False
8378     True
8379    False
8380    False
8381    False
8382     True
8383     True
8384     True
8385     True
8386    False
8387     True
8388     True
8389    False
8390     True
8391    False
8392     True
8393    False
8394    False
8395    False
8396     True
8397     True
8398     True
Name: Profit, Length: 8399, dtype: bool

In [544]:
data.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin',
       'Product_Category', 'Product_Sub_Category', 'Order_ID_x', 'Order_Date',
       'Order_Priority', 'Order_Month', 'Order_Year', 'Customer_Name',
       'Province', 'Region', 'Customer_Segment', 'Order_ID_y', 'Ship_Mode',
       'Ship_Date', 'Ship_Month', 'Ship_Year', 'Duration', 'Profitable',
       'is_profitable'],
      dtype='object')

In [555]:
# Update the profit column values with single decimal point
# ex: 30.234 to 30.2
def number(x):
    return round(x,1)
data['Profit']=data['Profit'].apply(number)
data['Profit']

0        -30.5
1       1148.9
2        -47.6
3          4.6
4        729.3
5       1219.9
6         23.1
7        -17.6
8       -120.9
9        -93.3
10      -136.8
11      -129.6
12      -793.4
13        61.6
14       -15.0
15       -67.7
16       -78.6
17       338.0
18       -13.5
19       -15.2
20        31.0
21       -38.6
22        -3.2
23        76.6
24       -29.3
25         4.1
26       -12.7
27         1.4
28        65.9
29        71.5
         ...
8369     299.9
8370    -136.0
8371    -522.6
8372     -37.3
8373      56.4
8374    -103.2
8375     110.6
8376      10.8
8377    -130.9
8378     138.1
8379   -9078.9
8380     -99.0
8381    -559.8
8382     196.4
8383     420.1
8384     252.7
8385    1041.3
8386    -100.5
8387     210.0
8388     917.3
8389    -131.0
8390     231.5
8391     -29.7
8392     368.9
8393     -33.5
8394     -20.9
8395     -31.4
8396      21.7
8397    2787.6
8398     196.1
Name: Profit, Length: 8399, dtype: float64

In [556]:
data['Profit'].apply(lambda x:round(x,1))

0        -30.5
1       1148.9
2        -47.6
3          4.6
4        729.3
5       1219.9
6         23.1
7        -17.6
8       -120.9
9        -93.3
10      -136.8
11      -129.6
12      -793.4
13        61.6
14       -15.0
15       -67.7
16       -78.6
17       338.0
18       -13.5
19       -15.2
20        31.0
21       -38.6
22        -3.2
23        76.6
24       -29.3
25         4.1
26       -12.7
27         1.4
28        65.9
29        71.5
         ...
8369     299.9
8370    -136.0
8371    -522.6
8372     -37.3
8373      56.4
8374    -103.2
8375     110.6
8376      10.8
8377    -130.9
8378     138.1
8379   -9078.9
8380     -99.0
8381    -559.8
8382     196.4
8383     420.1
8384     252.7
8385    1041.3
8386    -100.5
8387     210.0
8388     917.3
8389    -131.0
8390     231.5
8391     -29.7
8392     368.9
8393     -33.5
8394     -20.9
8395     -31.4
8396      21.7
8397    2787.6
8398     196.1
Name: Profit, Length: 8399, dtype: float64

In [558]:
help(pd.DataFrame.pivot_table)

Help on function pivot_table in module pandas.core.frame:

pivot_table(self, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')
    Create a spreadsheet-style pivot table as a DataFrame. The levels in
    the pivot table will be stored in MultiIndex objects (hierarchical
    indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions
    fill_value : scalar, default None
        Value to replace missing values with
    margins : boolean, default False
        Add all row / columns (e.g. for subtotal / grand totals)
    dropna : boolean, default True
        Do not include columns whose entries are all NaN
    margins_name : string, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.

    Returns
    -------
    table : DataFrame

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two    NaN      6

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum, fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': np.mean})
    >>> table
                      D         E
                   mean      mean
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': [min, max, np.mean]})
    >>> table
                      D   E
                   mean max      mean min
    A   C
    bar large  5.500000  9   7.500000   6
        small  5.500000  9   8.500000   8
    foo large  2.000000  5   4.500000   4
        small  2.333333  6   4.333333   2

# pivot_table

In [559]:
data.pivot_table(values='Sales',index='Customer_Segment')

                        Sales
Customer_Segment
CONSUMER          1857.859965
CORPORATE         1787.680389
HOME OFFICE       1754.312931
SMALL BUSINESS    1698.124841

In [567]:
data.pivot_table(values='Sales',index='Customer_Segment' ,columns='Product_Category')

Product_Category    FURNITURE  OFFICE SUPPLIES   TECHNOLOGY
Customer_Segment
CONSUMER          3153.092777       799.285815  2918.830136
CORPORATE         2942.876104       798.402161  3007.534303
HOME OFFICE       3165.876645       838.475467  2742.959557
SMALL BUSINESS    2757.176869       826.097641  2852.441325

In [560]:
data.pivot_table(index='Customer_Segment')

,Discount,Order_ID_x,Order_ID_y,Order_Month,Order_Quantity,Order_Year,Product_Base_Margin,Profit,Sales,Ship_Month,Ship_Year,Shipping_Cost,is_profitable
Customer_Segment,,,,,,,,,,,,,
CONSUMER,0.049903,29651.300788,29651.300788,6.588842,25.324439,2010.428745,0.512905,174.627653,1857.859965,6.548211,2010.434203,13.024748,0.500910
CORPORATE,0.049841,29526.969766,29526.969766,6.560143,25.525683,2010.500325,0.512783,194.976658,1787.680389,6.561118,2010.505202,12.698911,0.481469
HOME OFFICE,0.049444,30227.655020,30227.655020,6.528051,25.987697,2010.504429,0.513608,156.670669,1754.312931,6.553150,2010.507874,12.771757,0.498524
SMALL BUSINESS,0.049403,30776.489647,30776.489647,6.709501,25.391596,2010.476248,0.510258,192.270646,1698.124841,6.584653,2010.482948,12.995840,0.496346

In [561]:
import numpy as np
data.pivot_table(index='Customer_Segment',aggfunc=np.sum)

,Discount,Order_ID_x,Order_ID_y,Order_Month,Order_Quantity,Order_Year,Product_Base_Margin,Profit,Sales,Ship_Month,Ship_Year,Shipping_Cost,is_profitable
Customer_Segment,,,,,,,,,,,,,
CONSUMER,82.29,48894995,48894995,10865,41760,3315197,838.60,287961.0,3.063611e+06,10798,3315206,21477.81,826.0
CORPORATE,153.31,90824959,90824959,20179,78517,6184299,1566.04,599748.2,5.498905e+06,20182,6184314,39061.85,1481.0
HOME OFFICE,100.47,61422595,61422595,13265,52807,4085345,1036.46,318354.8,3.564764e+06,13316,4085352,25952.21,1013.0
SMALL BUSINESS,81.12,50534996,50534996,11017,41693,3301202,831.21,315708.4,2.788321e+06,10812,3301213,21339.17,815.0

In [563]:
data.pivot_table(values='Product_Base_Margin',index='Customer_Segment',aggfunc=np.sum)

                  Product_Base_Margin
Customer_Segment
CONSUMER                       838.60
CORPORATE                     1566.04
HOME OFFICE                   1036.46
SMALL BUSINESS                 831.21

In [569]:
rep=data['Product_Base_Margin'].mean()
rep

0.5125131957773537

In [570]:
data.pivot_table(values='Product_Base_Margin',index='Customer_Segment',aggfunc=np.sum)

                  Product_Base_Margin
Customer_Segment
CONSUMER                       838.60
CORPORATE                     1566.04
HOME OFFICE                   1036.46
SMALL BUSINESS                 831.21

In [571]:
data['Customer_Segment'][0]='Unknown'
data['Product_Base_Margin'][0]=np.nan

C:\Users\Deepak\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Deepak\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [572]:
data.iloc[0:]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Province,Region,Customer_Segment,Order_ID_y,Ship_Mode,Ship_Date,Ship_Month,Ship_Year,Duration,is_profitable
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.5,3.60,NaN,...,ALBERTA,WEST,Unknown,36262,REGULAR AIR,2010-07-28,7,2010,1 days 00:00:00.000000000,False
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.9,2.50,0.59,...,ALBERTA,WEST,CORPORATE,36262,EXPRESS AIR,2010-07-27,7,2010,0 days 00:00:00.000000000,True
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.6,6.15,0.37,...,ALBERTA,WEST,CORPORATE,36262,EXPRESS AIR,2010-07-28,7,2010,1 days 00:00:00.000000000,False
3,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.6,0.93,0.54,...,ALBERTA,WEST,CORPORATE,20513,EXPRESS AIR,2009-08-07,8,2009,31 days 00:00:00.000000000,True
4,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.3,14.30,0.37,...,ALBERTA,WEST,CORPORATE,39682,EXPRESS AIR,2010-11-11,11,2010,61 days 00:00:00.000000000,True
5,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.9,26.30,0.38,...,ALBERTA,WEST,CORPORATE,54019,DELIVERY TRUCK,2009-08-07,8,2009,212 days 00:00:00.000000000,True
6,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.1,3.37,0.57,...,ONTARIO,ONTARIO,HOME OFFICE,37863,REGULAR AIR,2011-02-26,2,2011,2 days 00:00:00.000000000,True
7,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.8200,0.05,35,-17.6,3.98,0.56,...,ALBERTA,WEST,CONSUMER,53026,REGULAR AIR,2012-03-03,3,2012,6 days 00:00:00.000000000,False
8,Ord_5430,Prod_4,SHP_7588,Cust_1820,337.2035,0.09,9,-120.9,4.99,0.56,...,ALBERTA,WEST,CONSUMER,31399,REGULAR AIR,2011-06-11,6,2011,31 days 00:00:00.000000000,False
9,Ord_5462,Prod_4,SHP_7632,Cust_1820,175.8565,0.03,10,-93.3,1.25,0.83,...,ALBERTA,WEST,CONSUMER,40838,REGULAR AIR,2012-11-27,11,2012,1 days 00:00:00.000000000,False
10,Ord_5462,Prod_5,SHP_7631,Cust_1820,323.9600,0.07,40,-136.8,7.96,0.49,...,ALBERTA,WEST,CONSUMER,40838,REGULAR AIR,2012-11-29,11,2012,3 days 00:00:00.000000000,False
11,Ord_5489,Prod_17,SHP_7671,Cust_1820,754.9200,0.00,7,-129.6,19.99,0.52,...,ALBERTA,WEST,CONSUMER,56706,REGULAR AIR,2009-11-11,11,2009,31 days 00:00:00.000000000,False
12,Ord_5481,Prod_15,SHP_7659,Cust_1820,2700.7800,0.06,29,-793.4,58.20,0.58,...,ALBERTA,WEST,CONSUMER,52230,DELIVERY TRUCK,2012-01-09,1,2012,-234 days +00:00:00.000000000,False
13,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.0800,0.04,34,61.6,3.14,0.60,...,SASKACHEWAN,PRARIE,CORPORATE,36992,EXPRESS AIR,2009-09-12,9,2009,62 days 00:00:00.000000000,True
14,Ord_3731,Prod_13,SHP_5176,Cust_1314,193.7000,0.06,20,-15.0,4.82,0.47,...,SASKACHEWAN,PRARIE,CORPORATE,38596,REGULAR AIR,2010-03-04,3,2010,28 days 00:00:00.000000000,False
15,Ord_3733,Prod_4,SHP_5178,Cust_1314,553.3415,0.08,33,-67.7,0.99,0.83,...,SASKACHEWAN,PRARIE,CORPORATE,41186,REGULAR AIR,2010-11-23,11,2010,1 days 00:00:00.000000000,False
16,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.2100,0.06,24,-78.6,6.14,0.59,...,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,13920,REGULAR AIR,2009-10-10,10,2009,30 days 00:00:00.000000000,False
17,Ord_4143,Prod_6,SHP_5770,Cust_1417,901.3200,0.10,25,338.0,5.08,0.38,...,NEW BRUNSWICK,ATLANTIC,HOME OFFICE,13920,EXPRESS AIR,2009-11-10,11,2009,61 days 00:00:00.000000000,True
18,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.0900,0.09,9,-13.5,3.37,0.57,...,BRITISH COLUMBIA,WEST,SMALL BUSINESS,55554,REGULAR AIR,2009-11-17,11,2009,1 days 00:00:00.000000000,False
19,Ord_4796,Prod_6,SHP_6686,Cust_1659,122.0900,0.04,6,-15.2,9.54,0.37,...,BRITISH COLUMBIA,WEST,SMALL BUSINESS,55554,REGULAR AIR,2009-11-17,11,2009,1 days 00:00:00.000000000,False
20,Ord_4796,Prod_13,SHP_6687,Cust_1659,150.0600,0.02,49,31.0,0.70,0.56,...,BRITISH COLUMBIA,WEST,SMALL BUSINESS,55554,REGULAR AIR,2009-11-19,11,2009,3 days 00:00:00.000000000,True
21,Ord_4830,Prod_6,SHP_6731,Cust_1659,158.9100,0.06,24,-38.6,5.20,0.37,...,BRITISH COLUMBIA,WEST,SMALL BUSINESS,59363,REGULAR AIR,2009-02-05,2,2009,0 days 00:00:00.000000000,False
22,Ord_1854,Prod_16,SHP_2548,Cust_727,182.4700,0.05,17,-3.2,3.37,0.57,...,NOVA SCOTIA,ATLANTIC,SMALL BUSINESS,48455,REGULAR AIR,2009-03-06,3,2009,28 days 00:00:00.000000000,False
23,Ord_1854,Prod_6,SHP_2548,Cust_622,817.5300,0.03,34,76.6,11.54,0.39,...,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,48455,REGULAR AIR,2009-03-06,3,2009,28 days 00:00:00.000000000,True
24,Ord_1854,Prod_17,SHP_2548,Cust_564,25.9600,0.06,2,-29.3,6.24,0.36,...,ONTARIO,ONTARIO,SMALL BUSINESS,48455,REGULAR AIR,2009-03-06,3,2009,28 days 00:00:00.000000000,False
25,Ord_1814,Prod_13,SHP_2507,Cust_622,81.9000,0.01,27,4.1,0.96,0.58,...,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,21890,REGULAR AIR,2011-01-26,1,2011,2 days 00:00:00.000000000,True
26,Ord_1814,Prod_9,SHP_2507,Cust_1550,495.5000,0.06,44,-12.7,6.97,0.35,...,YUKON,YUKON,SMALL BUSINESS,21890,REGULAR AIR,2011-01-26,1,2011,2 days 00:00:00.000000000,False
27,Ord_2957,Prod_13,SHP_4078,Cust_564,65.1200,0.07,38,1.4,1.00,0.35,...,ONTARIO,ONTARIO,SMALL BUSINESS,54151,REGULAR AIR,2009-03-09,3,2009,28 days 00:00:00.000000000,True
28,Ord_2957,Prod_6,SHP_4078,Cust_564,205.8700,0.03,35,65.9,1.46,0.39,...,ONTARIO,ONTARIO,SMALL BUSINESS,54151,REGULAR AIR,2009-03-09,3,2009,28 days 00:00:00.000000000,True
29,Ord_2991,Prod_13,SHP_4136,Cust_564,193.2500,0.03,19,71.5,1.09,0.43,...,ONTARIO,ONTARIO,SMALL BUSINESS,25536,REGULAR AIR,2011-07-22,7,2011,0 days 00:00:00.000000000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8369,Ord_1035,Prod_1,SHP_1429,Cust_394,4754.0800,0.00,21,299.9,28.66,0.72,...,MANITOBA,PRARIE,HOME OFFICE,2823,DELIVERY TRUCK,2011-09-09,9,2011,31 days 00:00:00.000000000,True
8370,Ord_1035,Prod_8,SHP_1428,Cust_394,357.4300,0.08,17,-136.0,6.50,0.78,...,MANITOBA,PRARIE,HOME OFFICE,2823,REGULAR AIR,2011-09-09,9,2011,31 days 00:00:00.000000000,False
8371,Ord_994,Prod_1,SHP_1375,Cust_369,11103.7500,0.10,32,-522.6,99.00,0.65,...,MANITOBA,PRARIE,CORPORATE,48480,DELIVERY TRUCK,2010-05-01,5,2010,89 days 00:00:00.000000000,False
8372,Ord_3944,Prod_1,SHP_5482,Cust_1363,294.9100,0.03,23,-37.3,6.27,0.57,...,SASKACHEWAN,PRARIE,SMALL BUSINESS,9095,REGULAR AIR,2011-12-06,12,2011,61 days 00:00:00.000000000,False
8373,Ord_2987,Prod_8,SHP_4127,Cust_1101,990.7300,0.02,30,56.4,4.00,0.75,...,ONTARIO,ONTARIO,CORPORATE,13125,EXPRESS AIR,2010-12-15,12,2010,2 days 00:00:00.000000000,True
8374,Ord_4538,Prod_8,SHP_6317,Cust_1552,105.1300,0.08,4,-103.2,4.00,0.75,...,YUKON,YUKON,HOME OFFICE,22850,REGULAR AIR,2011-01-05,1,2011,-115 days +00:00:00.000000000,False
8375,Ord_4388,Prod_8,SHP_6118,Cust_1501,448.2300,0.01,26,110.6,4.00,0.37,...,YUKON,YUKON,CONSUMER,6564,REGULAR AIR,2011-01-21,1,2011,0 days 00:00:00.000000000,True
8376,Ord_2114,Prod_8,SHP_2890,Cust_806,195.8300,0.04,24,10.8,1.99,0.52,...,QUEBEC,QUEBEC,CONSUMER,19111,REGULAR AIR,2009-09-10,9,2009,153 days 00:00:00.000000000,True
8377,Ord_464,Prod_8,SHP_623,Cust_165,638.7200,0.04,20,-130.9,5.50,0.75,...,MANITOBA,PRARIE,CORPORATE,50784,REGULAR AIR,2012-11-02,11,2012,31 days 00:00:00.000000000,False
8378,Ord_4566,Prod_8,SHP_6353,Cust_1515,676.6900,0.09,21,138.1,1.99,0.43,...,YUKON,YUKON,CONSUMER,25476,REGULAR AIR,2012-04-10,4,2012,60 days 00:00:00.000000000,True
8379,Ord_4566,Prod_14,SHP_6354,Cust_1515,13698.9600,0.05,4,-9078.9,24.49,0.37,...,YUKON,YUKON,CONSUMER,25476,REGULAR AIR,2012-03-10,3,2012,29 days 00:00:00.000000000,False
8380,Ord_4412,Prod_8,SHP_6149,Cust_1515,268.5500,0.10,36,-99.0,2.83,0.77,...,YUKON,YUKON,CONSUMER,9093,REGULAR AIR,2011-09-12,9,2011,0 days 00:00:00.000000000,False
8381,Ord_2980,Prod_8,SHP_4114,Cust_1091,1854.9400,0.04,6,-559.8,7.18,0.48,...,ONTARIO,ONTARIO,SMALL BUSINESS,49989,REGULAR AIR,2010-04-27,4,2010,1 days 00:00:00.000000000,False
8382,Ord_2995,Prod_8,SHP_4143,Cust_1113,677.9000,0.05,20,196.4,1.99,0.45,...,ONTARIO,ONTARIO,CORPORATE,31239,REGULAR AIR,2010-02-09,2,2010,-200 days +00:00:00.000000000,True
8383,Ord_2992,Prod_8,SHP_4139,Cust_1110,1177.5000,0.02,34,420.1,1.99,0.45,...,ONTARIO,ONTARIO,CORPORATE,28999,REGULAR AIR,2009-11-01,11,2009,31 days 00:00:00.000000000,True
8384,Ord_24,Prod_8,SHP_32,Cust_19,1078.4900,0.08,27,252.7,1.99,0.55,...,NUNAVUT,NUNAVUT,CORPORATE,2631,REGULAR AIR,2010-09-25,9,2010,2 days 00:00:00.000000000,True
8385,Ord_1860,Prod_8,SHP_2554,Cust_654,2925.7800,0.03,29,1041.3,7.18,0.40,...,NEWFOUNDLAND,ATLANTIC,CORPORATE,55940,REGULAR AIR,2009-04-30,4,2009,1 days 00:00:00.000000000,True
8386,Ord_1016,Prod_8,SHP_1406,Cust_383,138.0500,0.09,19,-100.5,5.53,0.69,...,MANITOBA,PRARIE,CORPORATE,52868,REGULAR AIR,2011-02-18,2,2011,2 days 00:00:00.000000000,False
8387,Ord_3676,Prod_8,SHP_5095,Cust_1294,1008.1900,0.03,23,210.0,1.99,0.55,...,SASKACHEWAN,PRARIE,CONSUMER,37603,REGULAR AIR,2010-11-26,11,2010,2 days 00:00:00.000000000,True
8388,Ord_3676,Prod_8,SHP_5095,Cust_1294,2440.2600,0.00,50,917.3,1.99,0.55,...,SASKACHEWAN,PRARIE,CONSUMER,37603,REGULAR AIR,2010-11-26,11,2010,2 days 00:00:00.000000000,True
8389,Ord_3665,Prod_8,SHP_5080,Cust_1294,401.1400,0.10,10,-131.0,6.50,0.74,...,SASKACHEWAN,PRARIE,CONSUMER,27813,REGULAR AIR,2009-01-14,1,2009,-321 days +00:00:00.000000000,False
8390,Ord_961,Prod_8,SHP_1330,Cust_350,2575.0100,0.09,27,231.5,19.99,0.52,...,BRITISH COLUMBIA,WEST,HOME OFFICE,35522,REGULAR AIR,2010-01-11,1,2010,-287 days +00:00:00.000000000,True
8391,Ord_4350,Prod_8,SHP_6065,Cust_1476,82.7200,0.08,6,-29.7,1.99,0.49,...,YUKON,YUKON,CORPORATE,2535,REGULAR AIR,2010-05-26,5,2010,2 days 00:00:00.000000000,False
8392,Ord_4567,Prod_8,SHP_6355,Cust_1476,925.4300,0.00,28,368.9,1.99,0.42,...,YUKON,YUKON,CORPORATE,25797,REGULAR AIR,2012-03-09,3,2012,60 days 00:00:00.000000000,True
8393,Ord_943,Prod_8,SHP_1304,Cust_337,38.9900,0.09,23,-33.5,1.99,0.51,...,BRITISH COLUMBIA,WEST,HOME OFFICE,29409,REGULAR AIR,2011-01-15,1,2011,2 days 00:00:00.000000000,False
8394,Ord_973,Prod_8,SHP_1343,Cust_357,29.0500,0.08,4,-20.9,4.32,0.64,...,BRITISH COLUMBIA,WEST,CORPORATE,40259,EXPRESS AIR,2010-10-13,10,2010,-58 days +00:00:00.000000000,False
8395,Ord_1832,Prod_8,SHP_2526,Cust_636,57.0300,0.00,7,-31.4,3.52,0.68,...,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS,36230,REGULAR AIR,2009-10-06,10,2009,0 days 00:00:00.000000000,False
8396,Ord_2010,Prod_8,SHP_2748,Cust_760,282.5800,0.10,36,21.7,1.99,0.52,...,NOVA SCOTIA,ATLANTIC,CORPORATE,18534,EXPRESS AIR,2011-12-30,12,2011,0 days 00:00:00.000000000,True
8397,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.3500,0.09,47,2787.6,24.49,0.46,...,ONTARIO,ONTARIO,HOME OFFICE,23616,REGULAR AIR,2012-08-28,8,2012,0 days 00:00:00.000000000,True
8398,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.6100,0.02,3,196.1,24.49,0.41,...,ONTARIO,ONTARIO,HOME OFFICE,38693,REGULAR AIR,2011-06-21,6,2011,7 days 00:00:00.000000000,True

In [573]:
data.pivot_table(values=['Product_Base_Margin','Profit'],index='Customer_Segment',aggfunc=[np.max,np.mean])

                                amax                         mean
                 Product_Base_Margin   Profit Product_Base_Margin      Profit
Customer_Segment
CONSUMER                        0.85  27220.7            0.512905  174.627653
CORPORATE                       0.85  14440.4            0.512768  195.049984
HOME OFFICE                     0.85  10521.3            0.513608  156.670669
SMALL BUSINESS                  0.85  13340.3            0.510258  192.270646
Unknown                          NaN    -30.5                 NaN  -30.500000

In [576]:
data.pivot_table(values=['Product_Base_Margin','Profit'],index='Customer_Segment',aggfunc={'Product_Base_Margin':np.max,'Profit':np.mean})

                  Product_Base_Margin      Profit
Customer_Segment
CONSUMER                         0.85  174.627653
CORPORATE                        0.85  195.049984
HOME OFFICE                      0.85  156.670669
SMALL BUSINESS                   0.85  192.270646
Unknown                           NaN  -30.500000

# Get the categorial column names
- data.dtypes
- data.columns
- fancy indexing

In [579]:
data.dtypes

Ord_id                   object
Prod_id                  object
Ship_id                  object
Cust_id                  object
Sales                   float64
Discount                float64
Order_Quantity            int64
Profit                  float64
Shipping_Cost           float64
Product_Base_Margin     float64
Product_Category         object
Product_Sub_Category     object
Order_ID_x                int64
Order_Date               object
Order_Priority           object
Order_Month               int64
Order_Year                int64
Customer_Name            object
Province                 object
Region                   object
Customer_Segment         object
Order_ID_y                int64
Ship_Mode                object
Ship_Date                object
Ship_Month                int64
Ship_Year                 int64
Duration                 object
is_profitable              bool
dtype: object

In [580]:
data.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin',
       'Product_Category', 'Product_Sub_Category', 'Order_ID_x', 'Order_Date',
       'Order_Priority', 'Order_Month', 'Order_Year', 'Customer_Name',
       'Province', 'Region', 'Customer_Segment', 'Order_ID_y', 'Ship_Mode',
       'Ship_Date', 'Ship_Month', 'Ship_Year', 'Duration', 'is_profitable'],
      dtype='object')

In [581]:
data.dtypes==object

Ord_id                   True
Prod_id                  True
Ship_id                  True
Cust_id                  True
Sales                   False
Discount                False
Order_Quantity          False
Profit                  False
Shipping_Cost           False
Product_Base_Margin     False
Product_Category         True
Product_Sub_Category     True
Order_ID_x              False
Order_Date               True
Order_Priority           True
Order_Month             False
Order_Year              False
Customer_Name            True
Province                 True
Region                   True
Customer_Segment         True
Order_ID_y              False
Ship_Mode                True
Ship_Date                True
Ship_Month              False
Ship_Year               False
Duration                 True
is_profitable           False
dtype: bool

In [584]:
data.columns[data.dtypes==object]

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Product_Category',
       'Product_Sub_Category', 'Order_Date', 'Order_Priority', 'Customer_Name',
       'Province', 'Region', 'Customer_Segment', 'Ship_Mode', 'Ship_Date',
       'Duration'],
      dtype='object')

In [585]:
data.columns[data.dtypes==np.int64]

Index(['Order_Quantity', 'Order_ID_x', 'Order_Month', 'Order_Year',
       'Order_ID_y', 'Ship_Month', 'Ship_Year'],
      dtype='object')

In [586]:
data.describe(include=object).columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Product_Category',
       'Product_Sub_Category', 'Order_Date', 'Order_Priority', 'Customer_Name',
       'Province', 'Region', 'Customer_Segment', 'Ship_Mode', 'Ship_Date',
       'Duration'],
      dtype='object')

In [587]:
data.Order_Priority

0       NOT SPECIFIED
1       NOT SPECIFIED
2       NOT SPECIFIED
3                HIGH
4              MEDIUM
5                 LOW
6                HIGH
7                 LOW
8       NOT SPECIFIED
9       NOT SPECIFIED
10      NOT SPECIFIED
11               HIGH
12           CRITICAL
13             MEDIUM
14             MEDIUM
15               HIGH
16           CRITICAL
17           CRITICAL
18           CRITICAL
19           CRITICAL
20           CRITICAL
21               HIGH
22           CRITICAL
23           CRITICAL
24           CRITICAL
25      NOT SPECIFIED
26      NOT SPECIFIED
27           CRITICAL
28           CRITICAL
29                LOW
            ...
8369             HIGH
8370             HIGH
8371         CRITICAL
8372             HIGH
8373    NOT SPECIFIED
8374           MEDIUM
8375              LOW
8376              LOW
8377             HIGH
8378    NOT SPECIFIED
8379    NOT SPECIFIED
8380           MEDIUM
8381    NOT SPECIFIED
8382              LOW
8383             HIGH
8384              LOW
8385    NOT SPECIFIED
8386              LOW
8387           MEDIUM
8388           MEDIUM
8389           MEDIUM
8390              LOW
8391              LOW
8392    NOT SPECIFIED
8393             HIGH
8394           MEDIUM
8395             HIGH
8396              LOW
8397    NOT SPECIFIED
8398              LOW
Name: Order_Priority, Length: 8399, dtype: object

In [589]:
data.Order_Priority.value_counts()

HIGH             1768
LOW              1720
NOT SPECIFIED    1672
MEDIUM           1631
CRITICAL         1608
Name: Order_Priority, dtype: int64

### NOT SPECIFED- 0
### LOW -1
### MEDIUM - 2
### HIGH - 3
### CRITICAL - 4

In [595]:
# Define a function
# input is a string
# return value must be 0,1,2,3 or 4
def cat_to_num(x):
    if x=='NOT SPECIFIED':
        return 0
    elif x=='LOW':
        return 1
    elif x=='MEDIUM':
        return 2
    elif x=='HIGH':
        return 3
    elif x=='CRITICAL':
        return 4

In [596]:
data['Order_Priority_number']=\
data['Order_Priority'].apply(cat_to_num)
data['Order_Priority_number'].value_counts()

3    1768
1    1720
0    1672
2    1631
4    1608
Name: Order_Priority_number, dtype: int64

In [597]:
data.Order_Priority.value_counts()

HIGH             1768
LOW              1720
NOT SPECIFIED    1672
MEDIUM           1631
CRITICAL         1608
Name: Order_Priority, dtype: int64

In [598]:
pd.get_dummies(data['Order_Priority'])

      CRITICAL  HIGH  LOW  MEDIUM  NOT SPECIFIED
0            0     0    0       0              1
1            0     0    0       0              1
2            0     0    0       0              1
3            0     1    0       0              0
4            0     0    0       1              0
5            0     0    1       0              0
6            0     1    0       0              0
7            0     0    1       0              0
8            0     0    0       0              1
9            0     0    0       0              1
10           0     0    0       0              1
11           0     1    0       0              0
12           1     0    0       0              0
13           0     0    0       1              0
14           0     0    0       1              0
15           0     1    0       0              0
16           1     0    0       0              0
17           1     0    0       0              0
18           1     0    0       0              0
19           1     0    0       0              0
20           1     0    0       0              0
21           0     1    0       0              0
22           1     0    0       0              0
23           1     0    0       0              0
24           1     0    0       0              0
25           0     0    0       0              1
26           0     0    0       0              1
27           1     0    0       0              0
28           1     0    0       0              0
29           0     0    1       0              0
...        ...   ...  ...     ...            ...
8369         0     1    0       0              0
8370         0     1    0       0              0
8371         1     0    0       0              0
8372         0     1    0       0              0
8373         0     0    0       0              1
8374         0     0    0       1              0
8375         0     0    1       0              0
8376         0     0    1       0              0
8377         0     1    0       0              0
8378         0     0    0       0              1
8379         0     0    0       0              1
8380         0     0    0       1              0
8381         0     0    0       0              1
8382         0     0    1       0              0
8383         0     1    0       0              0
8384         0     0    1       0              0
8385         0     0    0       0              1
8386         0     0    1       0              0
8387         0     0    0       1              0
8388         0     0    0       1              0
8389         0     0    0       1              0
8390         0     0    1       0              0
8391         0     0    1       0              0
8392         0     0    0       0              1
8393         0     1    0       0              0
8394         0     0    0       1              0
8395         0     1    0       0              0
8396         0     0    1       0              0
8397         0     0    0       0              1
8398         0     0    1       0              0

[8399 rows x 5 columns]

In [599]:
data1=pd.get_dummies(data)
data1.shape[1]

18957

In [600]:
cat_cols=data.columns[data.dtypes==object]
cat_cols

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Product_Category',
       'Product_Sub_Category', 'Order_Date', 'Order_Priority', 'Customer_Name',
       'Province', 'Region', 'Customer_Segment', 'Ship_Mode', 'Ship_Date',
       'Duration'],
      dtype='object')

In [601]:
data[cat_cols].nunique().sum()

18943

In [602]:
18943-len(cat_cols)+data.shape[1]

18957